<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="card" >
                <div class="card-header">
                    <h3 class="box-title">تغییر کلمه عبور</h3>
                </div>
                <div class="card-body">
                    <form ng-submit="update_password()">
                        <div class="form-group">
                            <input ng-model="form.password" type="password" name="password" class="form-control"
                                   placeholder="کلمه عبور" ng-minlength="2" ng-maxlength="100"
                                   required autocomplete="off">
                            <span class="validation-err">کلمه عبور را وارد کنید</span>
                        </div>
                        <div class="form-group">
                            <input ng-model="form.re_password" type="password" name="re_password" class="form-control"
                                   placeholder="کلمه عبور" ng-minlength="2" ng-maxlength="100"
                                   required autocomplete="off">
                            <span class="validation-err">کلمه عبور را دوباره وارد کنید</span>
                        </div>
                        <div class="form-group">
                            <button type="submit"  class="btn btn-primary">تعییر کلمه عبور</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>