<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="card" >
                <div class="card-header">
                    <h3 class="box-title">ثبت CPU در سامانه</h3>
                </div>
                <div class="card-body">
                    <form ng-submit="register('CPU')">
                        <div class="form-group">
                            <input ng-model="CPU.title" type="text" name="title" class="form-control"
                                   placeholder="نام CPU" ng-minlength="2" ng-maxlength="100"
                                   required autocomplete="off">
                            <span class="validation-err">نام CPU را وارد کنید</span>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn">ثبت</button>
                        </div>
                    </form>
                    <table hardware ng-init="getAll('CPU')" type="CPU">
                        <tbody data-ng-model="CPUS" as-sortable order-changed="update('CPU')">
                        <tr as-sortable-item ng-repeat="data in CPUS" tree-right-click="data.i='1'"
                            context-menu-id="ctxMenu">
                            <td class="icon-sort" as-sortable-item-handle style="padding: 3px;"></td>
                            <td style="padding: 3px;"><~data.title~></td>
                            <td ng-show="data.i">
                                <div style="position:fixed;width:100%;height: 100%;background-color: rgba(0,0,0,.2);right:0;top:0;z-index: 10000"
                                     ng-click="data.i = 0">

                                </div>
                                <ul style="position: absolute;background: #fefefe;z-index: 100000;right:30px;padding-right:0;">
                                    <li ng-click="data.i = 0;delete('CPU',data.id)"
                                        style="list-style: none;padding:4px 12px;border-bottom:1px solid #bebebe;">حذف
                                    </li>
                                    <li ng-click="data.i = 0;edit(data.id,'CPU')" style="list-style: none;padding:4px;">
                                        اصلاح
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        </tbody>

                    </table>
                    <button class="btn btn-success" ng-click="update('CPU')" type="button">به‌روزرسانی</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" >
                <div class="card-header">
                    <h3 class="box-title">ثبت RAM در سامانه</h3>
                </div>
                <div class="card-body">
                    <form ng-submit="register('RAM')">
                        <div class="form-group">
                            <input ng-model="RAM.title" type="text" name="title" class="form-control"
                                   placeholder="نام RAM" ng-minlength="2" ng-maxlength="100"
                                   required autocomplete="off">
                            <span class="validation-err">نام RAM را وارد کنید</span>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn">ثبت</button>
                        </div>
                    </form>
                    <table hardware ng-init="getAll('RAM')" type="RAM">
                        <tbody data-ng-model="RAMS" as-sortable>
                        <tr as-sortable-item ng-repeat="data in RAMS" tree-right-click="data.i='1'"
                            context-menu-id="ctxMenu">
                            <td class="icon-sort" as-sortable-item-handle style="padding: 3px;"></td>
                            <td style="padding: 3px;"><~data.title~></td>
                            <td ng-show="data.i">
                                <div style="position:fixed;width:100%;height: 100%;background-color: rgba(0,0,0,.2);right:0;top:0;z-index: 10000"
                                     ng-click="data.i = 0">

                                </div>
                                <ul style="position: absolute;background: #fefefe;z-index: 100000;right:30px;padding-right:0;">
                                    <li ng-click="data.i = 0;delete('RAM',data.id)"
                                        style="list-style: none;padding:4px 12px;border-bottom:1px solid #bebebe;">حذف
                                    </li>
                                    <li ng-click="data.i = 0;edit(data.id,'RAM')" style="list-style: none;padding:4px;">
                                        اصلاح
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        </tbody>

                    </table>
                    <button class="btn btn-success" ng-click="update('RAM')" type="button">به‌روزرسانی</button>


                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" >
                <div class="card-header">
                    <h3 class="box-title">ثبت Mainboard در سامانه</h3>
                </div>
                <div class="card-body">
                    <form ng-submit="register('Mainboard')">
                        <div class="form-group">
                            <input ng-model="Mainboard.title" type="text" name="title" class="form-control"
                                   placeholder="مدل مادربورد" ng-minlength="2" ng-maxlength="100"
                                   required autocomplete="off">
                            <span class="validation-err">مدل مادربورد را وارد کنید</span>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn">ثبت</button>
                        </div>
                    </form>
                    <table hardware ng-init="getAll('Mainboard')" type="Mainboard">
                        <tbody data-ng-model="MainboardS" as-sortable>
                        <tr as-sortable-item ng-repeat="data in MainboardS" tree-right-click="data.i='1'"
                            context-menu-id="ctxMenu">
                            <td class="icon-sort" as-sortable-item-handle style="padding: 3px;"></td>
                            <td style="padding: 3px;"><~data.title~></td>
                            <td ng-show="data.i">
                                <div style="position:fixed;width:100%;height: 100%;background-color: rgba(0,0,0,.2);right:0;top:0;z-index: 10000"
                                     ng-click="data.i = 0">

                                </div>
                                <ul style="position: absolute;background: #fefefe;z-index: 100000;right:30px;padding-right:0;">
                                    <li ng-click="data.i = 0;delete('Mainboard',data.id)"
                                        style="list-style: none;padding:4px 12px;border-bottom:1px solid #bebebe;">حذف
                                    </li>
                                    <li ng-click="data.i = 0;edit(data.id,'Mainboard')"
                                        style="list-style: none;padding:4px;">اصلاح
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        </tbody>

                    </table>
                    <button class="btn btn-success" ng-click="update('Mainboard')" type="button">به‌روزرسانی</button>


                </div>
            </div>
        </div>
    </div>
    <div class="row">

        <div class="col-md-4">
            <div class="card" >
                <div class="card-header">
                    <h3 class="box-title">ثبت Harddisk در سامانه</h3>
                </div>
                <div class="card-body">
                    <form ng-submit="register('Harddisk')">
                        <div class="form-group">
                            <input ng-model="Harddisk.title" type="text" name="title" class="form-control"
                                   placeholder="نام Harddisk" ng-minlength="2" ng-maxlength="100"
                                   required autocomplete="off">
                            <span class="validation-err">نام Harddisk را وارد کنید</span>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn">ثبت</button>
                        </div>
                    </form>
                    <table hardware ng-init="getAll('Harddisk')" type="Harddisk">
                        <tbody data-ng-model="HarddiskS" as-sortable>
                        <tr as-sortable-item ng-repeat="data in HarddiskS" tree-right-click="data.i='1'"
                            context-menu-id="ctxMenu">
                            <td class="icon-sort" as-sortable-item-handle style="padding: 3px;"></td>
                            <td style="padding: 3px;"><~data.title~></td>
                            <td ng-show="data.i">
                                <div style="position:fixed;width:100%;height: 100%;background-color: rgba(0,0,0,.2);right:0;top:0;z-index: 10000"
                                     ng-click="data.i = 0">

                                </div>
                                <ul style="position: absolute;background: #fefefe;z-index: 100000;right:30px;padding-right:0;">
                                    <li ng-click="data.i = 0;delete('Harddisk',data.id)"
                                        style="list-style: none;padding:4px 12px;border-bottom:1px solid #bebebe;">حذف
                                    </li>
                                    <li ng-click="data.i = 0;edit(data.id,'Harddisk')"
                                        style="list-style: none;padding:4px;">اصلاح
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        </tbody>

                    </table>
                    <button class="btn btn-success" ng-click="update('Harddisk')" type="button">به‌روزرسانی</button>


                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" >
                <div class="card-header">
                    <h3 class="box-title">ثبت سیستم‌عامل در سامانه</h3>
                </div>
                <div class="card-body">
                    <form ng-submit="register('OS')">
                        <div class="form-group">
                            <input ng-model="OS.title" type="text" name="title" class="form-control"
                                   placeholder="نام سیستم‌عامل" ng-minlength="2" ng-maxlength="100"
                                   required autocomplete="off">
                            <span class="validation-err">نام سیستم‌عامل را وارد کنید</span>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn">ثبت</button>
                        </div>
                    </form>
                    <table hardware ng-init="getAll('OS')" type="OS">
                        <tbody data-ng-model="OSS" as-sortable>
                        <tr as-sortable-item ng-repeat="data in OSS" tree-right-click="data.i='1'"
                            context-menu-id="ctxMenu">
                            <td class="icon-sort" as-sortable-item-handle style="padding: 3px;"></td>
                            <td style="padding: 3px;"><~data.title~></td>
                            <td ng-show="data.i">
                                <div style="position:fixed;width:100%;height: 100%;background-color: rgba(0,0,0,.2);right:0;top:0;z-index: 10000"
                                     ng-click="data.i = 0">

                                </div>
                                <ul style="position: absolute;background: #fefefe;z-index: 100000;right:30px;padding-right:0;">
                                    <li ng-click="data.i = 0;delete('OS',data.id)"
                                        style="list-style: none;padding:4px 12px;border-bottom:1px solid #bebebe;">حذف
                                    </li>
                                    <li ng-click="data.i = 0;edit(data.id,'OS')" style="list-style: none;padding:4px;">
                                        اصلاح
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        </tbody>

                    </table>
                    <button class="btn btn-success" ng-click="update('OS')" type="button">به‌روزرسانی</button>


                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" >
                <div class="card-header">
                    <h3 class="box-title">ثبت نوع‌سیستم در سامانه</h3>
                </div>
                <div class="card-body">
                    <form ng-submit="register('CaseType')">
                        <div class="form-group">
                            <input ng-model="CaseType.title" type="text" name="title" class="form-control"
                                   placeholder="نام نوع‌سیستم" ng-minlength="2" ng-maxlength="100"
                                   required autocomplete="off">
                            <span class="validation-err">نام نوع‌سیستم را وارد کنید</span>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn">ثبت</button>
                        </div>
                    </form>
                    <table hardware ng-init="getAll('CaseType')" type="CaseType">
                        <tbody data-ng-model="CaseTypeS" as-sortable>
                        <tr as-sortable-item ng-repeat="data in CaseTypeS" tree-right-click="data.i='1'"
                            context-menu-id="ctxMenu">
                            <td class="icon-sort" as-sortable-item-handle style="padding: 3px;"></td>
                            <td style="padding: 3px;"><~data.title~></td>
                            <td ng-show="data.i">
                                <div style="position:fixed;width:100%;height: 100%;background-color: rgba(0,0,0,.2);right:0;top:0;z-index: 10000"
                                     ng-click="data.i = 0">

                                </div>
                                <ul style="position: absolute;background: #fefefe;z-index: 100000;right:30px;padding-right:0;">
                                    <li ng-click="data.i = 0;delete('CaseType',data.id)"
                                        style="list-style: none;padding:4px 12px;border-bottom:1px solid #bebebe;">حذف
                                    </li>
                                    <li ng-click="data.i = 0;edit(data.id,'CaseType')"
                                        style="list-style: none;padding:4px;">اصلاح
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        </tbody>

                    </table>
                    <button class="btn btn-success" ng-click="update('CaseType')" type="button">به‌روزرسانی</button>


                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card" >
                <div class="card-header">
                    <h3 class="box-title">ثبت نوع مانیتور در سامانه</h3>
                </div>
                <div class="card-body">
                    <form ng-submit="register('MonitorType')">
                        <div class="form-group">
                            <input ng-model="MonitorType.title" type="text" name="title" class="form-control"
                                   placeholder="نوع مانیتور" ng-minlength="2" ng-maxlength="100"
                                   required autocomplete="off">
                            <span class="validation-err">نوع مانیتور را وارد کنید</span>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn">ثبت</button>
                        </div>
                    </form>
                    <table hardware ng-init="getAll('MonitorType')" type="MonitorType">
                        <tbody data-ng-model="MonitorTypeS" as-sortable>
                        <tr as-sortable-item ng-repeat="data in MonitorTypeS" tree-right-click="data.i='1'"
                            context-menu-id="ctxMenu">
                            <td class="icon-sort" as-sortable-item-handle style="padding: 3px;"></td>
                            <td style="padding: 3px;"><~data.title~></td>
                            <td ng-show="data.i">
                                <div style="position:fixed;width:100%;height: 100%;background-color: rgba(0,0,0,.2);right:0;top:0;z-index: 10000"
                                     ng-click="data.i = 0">

                                </div>
                                <ul style="position: absolute;background: #fefefe;z-index: 100000;right:30px;padding-right:0;">
                                    <li ng-click="data.i = 0;delete('MonitorType',data.id)"
                                        style="list-style: none;padding:4px 12px;border-bottom:1px solid #bebebe;">حذف
                                    </li>
                                    <li ng-click="data.i = 0;edit(data.id,'MonitorType')"
                                        style="list-style: none;padding:4px;">اصلاح
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        </tbody>

                    </table>
                    <button class="btn btn-success" ng-click="update('MonitorType')" type="button">به‌روزرسانی</button>


                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" >
                <div class="card-header">
                    <h3 class="box-title">ثبت مدل پرینتر در سامانه</h3>
                </div>
                <div class="card-body">
                    <form ng-submit="register('Model',3)">
                        <div class="form-group">
                            <input ng-model="Model.title" type="text" name="title" class="form-control"
                                   placeholder="مدل پرینتر" ng-minlength="2" ng-maxlength="100"
                                   required autocomplete="off">
                            <span class="validation-err">نوع مدل پرینتر را وارد کنید</span>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn">ثبت</button>
                        </div>
                    </form>
                    <table hardware ng-init="getAll('Model',3)" type="Model">
                        <tbody data-ng-model="Model3S" as-sortable>
                        <tr as-sortable-item ng-repeat="data in Model3S" tree-right-click="data.i='1'"
                            context-menu-id="ctxMenu">
                            <td class="icon-sort" as-sortable-item-handle style="padding: 3px;"></td>
                            <td style="padding: 3px;"><~data.title~></td>
                            <td ng-show="data.i">
                                <div style="position:fixed;width:100%;height: 100%;background-color: rgba(0,0,0,.2);right:0;top:0;z-index: 10000"
                                     ng-click="data.i = 0">

                                </div>
                                <ul style="position: absolute;background: #fefefe;z-index: 100000;right:30px;padding-right:0;">
                                    <li ng-click="data.i = 0;delete('Model',data.id)"
                                        style="list-style: none;padding:4px 12px;border-bottom:1px solid #bebebe;">حذف
                                    </li>
                                    <li ng-click="data.i = 0;edit(data.id,'Model')"
                                        style="list-style: none;padding:4px;">اصلاح
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        </tbody>

                    </table>
                    <button class="btn btn-success" ng-click="update('Model',3)" type="button">به‌روزرسانی</button>


                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" >
                <div class="card-header">
                    <h3 class="box-title">ثبت مدل اسکنر در سامانه</h3>
                </div>
                <div class="card-body">
                    <form ng-submit="register('Model',4)">
                        <div class="form-group">
                            <input ng-model="Model.title" type="text" name="title" class="form-control"
                                   placeholder="نوع اسکنر" ng-minlength="2" ng-maxlength="100"
                                   required autocomplete="off">
                            <span class="validation-err">نوع اسکنر را وارد کنید</span>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn">ثبت</button>
                        </div>
                    </form>
                    <table hardware ng-init="getAll('Model',4)" type="Model">
                        <tbody data-ng-model="Model4S" as-sortable>
                        <tr as-sortable-item ng-repeat="data in Model4S" tree-right-click="data.i='1'"
                            context-menu-id="ctxMenu">
                            <td class="icon-sort" as-sortable-item-handle style="padding: 3px;"></td>
                            <td style="padding: 3px;"><~data.title~></td>
                            <td ng-show="data.i">
                                <div style="position:fixed;width:100%;height: 100%;background-color: rgba(0,0,0,.2);right:0;top:0;z-index: 10000"
                                     ng-click="data.i = 0">

                                </div>
                                <ul style="position: absolute;background: #fefefe;z-index: 100000;right:30px;padding-right:0;">
                                    <li ng-click="data.i = 0;delete('Model',data.id)"
                                        style="list-style: none;padding:4px 12px;border-bottom:1px solid #bebebe;">حذف
                                    </li>
                                    <li ng-click="data.i = 0;edit(data.id,'MonitorType')"
                                        style="list-style: none;padding:4px;">
                                        اصلاح
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        </tbody>

                    </table>
                    <button class="btn btn-success" ng-click="update('Model',4)" type="button">به‌روزرسانی</button>


                </div>
            </div>
        </div>
    </div>
    <div class="row">

        <div class="col-md-4">
            <div class="card" >
                <div class="card-header">
                    <h3 class="box-title">ثبت مدل اسکنر در سامانه</h3>
                </div>
                <div class="card-body">
                    <form ng-submit="register('Model',4)">
                        <div class="form-group">
                            <input ng-model="Model.title" type="text" name="title" class="form-control"
                                   placeholder="نوع اسکنر" ng-minlength="2" ng-maxlength="100"
                                   required autocomplete="off">
                            <span class="validation-err">نوع اسکنر را وارد کنید</span>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn">ثبت</button>
                        </div>
                    </form>
                    <table hardware ng-init="getAll('Model',4)" type="Model">
                        <tbody data-ng-model="Model4S" as-sortable>
                        <tr as-sortable-item ng-repeat="data in Model4S" tree-right-click="data.i='1'"
                            context-menu-id="ctxMenu">
                            <td class="icon-sort" as-sortable-item-handle style="padding: 3px;"></td>
                            <td style="padding: 3px;"><~data.title~></td>
                            <td ng-show="data.i">
                                <div style="position:fixed;width:100%;height: 100%;background-color: rgba(0,0,0,.2);right:0;top:0;z-index: 10000"
                                     ng-click="data.i = 0">

                                </div>
                                <ul style="position: absolute;background: #fefefe;z-index: 100000;right:30px;padding-right:0;">
                                    <li ng-click="data.i = 0;delete('Model',data.id)"
                                        style="list-style: none;padding:4px 12px;border-bottom:1px solid #bebebe;">حذف
                                    </li>
                                    <li ng-click="data.i = 0;edit(data.id,'MonitorType')"
                                        style="list-style: none;padding:4px;">
                                        اصلاح
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        </tbody>

                    </table>
                    <button class="btn btn-success" ng-click="update('Model',4)" type="button">به‌روزرسانی</button>


                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card" >
                <div class="card-header">
                    <h3 class="box-title">ثبت کارشناس تعمیرات در سامانه</h3>
                </div>
                <div class="card-body">
                    <form ng-submit="register('Repairer')">
                        <div class="form-group">
                            <input ng-model="Repairer.title" type="text" name="title" class="form-control"
                                   placeholder="نام کارشناس" ng-minlength="2" ng-maxlength="100"
                                   required autocomplete="off">
                            <span class="validation-err">نام کارشناس تعمیرات را وارد کنید</span>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn">ثبت</button>
                        </div>
                    </form>
                    <table hardware ng-init="getAll('Repairer')" type="Repairer">

                        <tbody data-ng-model="Repairer" as-sortable>

                        <tr as-sortable-item ng-repeat="data in RepairerS" tree-right-click="data.i='1'"
                            context-menu-id="ctxMenu">
                            <td class="icon-sort" as-sortable-item-handle style="padding: 3px;"></td>
                            <td style="padding: 3px;"><~data.title~></td>
                            <td ng-show="data.i">
                                <div style="position:fixed;width:100%;height: 100%;background-color: rgba(0,0,0,.2);right:0;top:0;z-index: 10000"
                                     ng-click="data.i = 0">

                                </div>
                                <ul style="position: absolute;background: #fefefe;z-index: 100000;right:30px;padding-right:0;">
                                    <li ng-click="data.i = 0;delete('Repairer',data.id)"
                                        style="list-style: none;padding:4px 12px;border-bottom:1px solid #bebebe;">حذف
                                    </li>
                                    <li ng-click="data.i = 0;edit(data.id,'Repairer')"
                                        style="list-style: none;padding:4px;">
                                        اصلاح
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        </tbody>

                    </table>
                    <button class="btn btn-success" ng-click="update('Repairer')" type="button">به‌روزرسانی</button>


                </div>
            </div>
        </div>
    </div>
</div>