<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="box-title">ثبت سیستم در سامانه</h3>
                </div>
                <div class="card-body">
                    <form name="registerForm" ng-submit="submit(registerForm,$valid)" class="form-horizental"
                          novalidate>
                        <div class="row">
                            <div class="col-md-5">
                                <div class="row form-group"
                                     ng-class="{'has-error':(touched) && registerForm.shomareShenasaei.$invalid}">
                                    <div class="col col-md-3">
                                        <label for="text-input" class="form-control-label">شماره شناسایی</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input id="text-input" ng-model="form.shomareShenasaei" name="shomareShenasaei"
                                               class="form-control"
                                               type="number" ng-blur="check_shomareShenasaei()">
                                        <small class="form-text validation-err">شماره شناسایی باید چهار رقمی باشد.
                                        </small>
                                    </div>
                                </div>


                                <div class="row form-group"
                                     ng-class="{'has-error':(touched) && registerForm.shomareAmval.$invalid}">
                                    <div class="col col-md-3">
                                        <label for="shomareAmval" class=" form-control-label">شماره اموال</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input id="shomareAmval" ng-model="form.shomareAmval" type="number"
                                               ng-minlength="10" ng-maxlength="10"
                                               name="shomareAmval"
                                               class="form-control" autocomplete="off" ng-blur="check_shomareAmval()"
                                               required>
                                        <small class="validation-err">شماره اموال باید پر شود.</small>
                                    </div>
                                </div>
                                <div class="row form-group"
                                     ng-class="{'has-error':(touched) && !selectedYegan}">
                                    <div class="col col-md-3">
                                        <label for="shomareAmval" class=" form-control-label">یگان</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <div contenteditable="true"

                                             class="form-control yegan-div">

                                            <span style="float:left"
                                                  ng-show="selectedYegan!=null&&selectedYegan!=undefined"
                                                  class="icon-cross" ng-click="selectedYegan=null"></span>
                                            <span class="yegan"  ng-click="yeganSelection=!yeganSelection" ng-click="yeganSelection=!yeganSelection"><~selectedYegan.title||form.Yegan_title||"یگان" ~></span>
                                        </div>
                                        <span class="validation-err">یک یگان انتخاب کنید.</span>
                                    </div>

                                    <!-- Modal -->
                                    <div class="modal in" ng-class="{'showModal':yeganSelection}" role="dialog">
                                        <style>
                                            .showModal {
                                                display: block !important;
                                            }
                                        </style>
                                        <div class="modal-dialog scroll">

                                            <!-- Modal content-->
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" ng-click="yeganSelection=false">
                                                        &times;
                                                    </button>
                                                    <h4 class="modal-title">انتخاب یگان</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <treecontrol ng-show="yeganSelection" class="tree-classic"
                                                                 tree-model="yegans"
                                                                 options="treeOptions"
                                                                 selected-node="selectedYegan"
                                                                 on-selection="yeganSelection=false">
                                                        <div><~node.title~></div>
                                                    </treecontrol>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" ng-click="yeganSelection=false"
                                                            class="btn btn-default">بستن
                                                    </button>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="row form-group" id="network"
                                     ng-class="{'has-error':(touched) && registerForm.inNaja.$invalid}">
                                    <div class="col col-md-3">
                                        <label for="shomareAmval" class=" form-control-label">وضعیت شبکه</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <label>
                                            <input ng-model="form.inNaja" name="inNaja" value="1" type="radio"
                                                   class="radio-inline" ng-click="form.internet='0'" required>
                                            داخل شبکه
                                        </label>
                                        <br/>
                                        <label>
                                            <input ng-model="form.inNaja" name="inNaja" value="0" type="radio"
                                                   class="radio-inline" required>
                                            خارج شبکه
                                        </label>
                                        <span class="validation-err" style="margin-top: -11px;left: 30px;">دسترسی شبکه باید تعیین شود</span>
                                    </div>
                                </div>
                                <div class="row form-group"
                                     ng-class="{'has-error':(touched) && registerForm.internet.$invalid}">
                                    <div class="col col-md-3">
                                        <label for="shomareAmval" class=" form-control-label">وضعیت اینترنت</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <label>
                                            <input ng-model="form.internet" ng-disabled="form.inNaja==1" value="1"
                                                   type="radio" class="radio-inline"
                                                   name="internet" required>
                                            دسترسی به اینترنت
                                        </label>
                                        <br/>
                                        <label>
                                            <input ng-model="form.internet" ng-disabled="form.inNaja==1" value="0"
                                                   type="radio" class="radio-inline"
                                                   name="internet" required>
                                            عدم دسترسی به اینترنت
                                        </label>

                                        <span class="validation-err" style="margin-top: -11px;left: 30px;">دسترسی اینترنت باید تعیین شود</span>
                                    </div>
                                </div>

                                <div class="row form-group"
                                     ng-class="{'has-error':(touched) && registerForm.CaseType_id.$invalid}">
                                    <div class="col col-md-3">
                                        <label for="shomareAmval" class=" form-control-label">نوع سیستم</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <select ng-model="form.CaseType_id" class="custom-select form-control"
                                                name="CaseType_id" required>
                                            <option value=""></option>
                                            <option ng-repeat="y in caseTypes" value="<~ y.id ~>"><~y.title~></option>
                                        </select>
                                        <span class="validation-err">نوع سیستم را انتخاب کنید</span>
                                    </div>
                                </div>
                                <div class="row form-group"
                                     ng-class="{'has-error':(touched) && registerForm.Monitor_shomareAmval.$invalid}">
                                    <div class="col col-md-3">
                                        <label for="shomareAmval" class=" form-control-label">مانیتور</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <div class="input-group">
                                            <input
                                                    ng-model="form.Monitor_shomareAmval" type="number"
                                                    name="Monitor_shomareAmval"
                                                    class="form-control" placeholder="شماره اموال مانیتور"
                                                    autocomplete="off"
                                                    ng-minlength="10" ng-maxlength="10">
                                            <div class="input-group-btn">
                                                <button type="button" class="btn btn-outline-secondary"
                                                        style="border-radius: 3px 0 0 3px;" ng-click="showRegMon()">ثبت
                                                    مانیتور جدید
                                                </button>
                                            </div>
                                        </div>
                                        <span class="validation-err">شماره اموال مانیتور باید پر شود.</span>
                                    </div>
                                </div>
                                <div class="row form-group"
                                     ng-class="{'has-error':(touched) && registerForm.Monitor_shomareAmval.$invalid}">
                                    <div class="col col-md-3">
                                        <label for="shomareAmval" class=" form-control-label">پرینتر</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <div class="input-group">
                                            <input
                                                    ng-model="form.Printer_shomareAmval" type="number"
                                                    name="Printer_shomareAmval"
                                                    class="form-control" placeholder="شماره اموال پرینتر"
                                                    autocomplete="off" ng-minlength="10" ng-maxlength="10">

                                            <div class="input-group-btn">
                                                <button type="button" class="btn btn-outline-secondary"
                                                        style="border-radius: 3px 0 0 3px;"
                                                        ng-click="showRegPrinter()">ثبت پرینتر جدید
                                                </button>
                                            </div>

                                        </div>
                                        <span class="validation-err">شماره اموال پرینتر باید پر شود.</span>
                                    </div>

                                </div>

                                <div class="row form-group"
                                     ng-class="{'has-error':(touched) && registerForm.Monitor_shomareAmval.$invalid}">
                                    <div class="col col-md-3">
                                        <label for="shomareAmval" class=" form-control-label">اسکنر</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <div class="input-group">
                                            <input ng-model="form.Scanner_shomareAmval" name="Scanner_shomareAmval"
                                                   placeholder="شماره اموال اسکنر"
                                                   class="form-control"
                                                   type="number">
                                            <div class="input-group-btn">
                                                <button class="btn btn-outline-secondary" ng-click="showRegScanner()">
                                                    ثبت اسکنر
                                                    جدید
                                                </button>
                                            </div>
                                        </div>
                                        <span class="validation-err">شماره اموال اسکنر باید پر شود.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1"></div>
                            <div class="col-md-5">
                                <div class="row form-group"
                                     ng-class="{'has-error':(touched) && registerForm.OS_id.$invalid}">
                                    <div class="col col-md-3">
                                        <label for="shomareAmval" class=" form-control-label">سیستم‌عامل</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <select ng-model="form.OS_id" class="custom-select form-control" name="OS_id"
                                                required>
                                            <option value=""></option>
                                            <option ng-repeat="y in oss" value="<~ y.id ~>"><~y.title~></option>
                                        </select>
                                        <span class="validation-err">سیستم‌عامل را انتخاب کنید</span>
                                    </div>
                                </div>
                                <div class="row form-group"
                                     ng-class="{'has-error':(touched) && registerForm.Mainboard_id.$invalid}">
                                    <div class="col col-md-3">
                                        <label for="shomareAmval" class=" form-control-label">مادربورد</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <select ng-model="form.Mainboard_id" name="Mainboard_id"
                                                class="custom-select form-control"
                                                required>
                                            <option value=""></option>
                                            <option ng-repeat="y in mainboards" value="<~ y.id ~>"><~y.title~></option>
                                        </select>
                                        <span class="validation-err">مادربورد را انتخاب کنید</span>
                                    </div>
                                </div>
                                <div class="row form-group"
                                     ng-class="{'has-error':(touched) && registerForm.CPU_id.$invalid}">
                                    <div class="col col-md-3">
                                        <label for="shomareAmval" class=" form-control-label">CPU</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <select ng-model="form.CPU_id" name="CPU_id" class="custom-select form-control"
                                                required>
                                            <option value=""></option>
                                            <option ng-repeat="y in cpus" value="<~ y.id ~>"><~y.title~></option>
                                        </select>
                                        <span class="validation-err">CPU را انتخاب کنید</span>
                                    </div>
                                </div>
                                <div class="row form-group"
                                     ng-class="{'has-error':(touched) && registerForm.RAM_id.$invalid}">
                                    <div class="col col-md-3">
                                        <label for="shomareAmval" class=" form-control-label">RAM</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <select ng-model="form.RAM_id" name="RAM_id" class="custom-select form-control"
                                                required>
                                            <option value=""></option>
                                            <option ng-repeat="y in rams" value="<~ y.id ~>"><~y.title~></option>

                                        </select>

                                        <span class="validation-err">RAM را انتخاب کنید</span>
                                    </div>
                                </div>
                                <div class="row form-group"
                                     ng-class="{'has-error':(touched) && registerForm.Harddisk_id.$invalid}">
                                    <div class="col col-md-3">
                                        <label for="shomareAmval" class=" form-control-label">هارد</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <select ng-model="form.Harddisk_id" name="Harddisk_id"
                                                class="custom-select form-control" required>
                                            <option value=""></option>
                                            <option ng-repeat="y in harddisks" value="<~ y.id ~>"><~y.title~></option>
                                        </select>
                                        <span class="validation-err">هارد را انتخاب کنید</span>
                                    </div>
                                </div>
                                <div class="row form-group"
                                     ng-class="{'has-error':(touched) && registerForm.mac_address.$invalid}">
                                    <div class="col col-md-3">
                                        <label for="shomareAmval" class=" form-control-label">MacAddress</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input style="direction: ltr" ng-model="form.mac_address" type="text"
                                               name="mac_address"
                                               class="form-control" autocomplete="off"
                                               ng-required="form.inNaja==1">
                                        <span class="validation-err">MacAddress را با فرمت صحیح وارد کنید.</span>
                                    </div>
                                </div>
                                <div class="row form-group"
                                     ng-class="{'has-error':(touched) && registerForm.ip.$invalid}">
                                    <div class="col col-md-3">
                                        <label for="shomareAmval" class=" form-control-label">IP</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input style="direction: ltr" ng-model="form.ip" type="text" name="ip"
                                               class="form-control"
                                               autocomplete="off" ng-ip-address
                                               ng-required="form.inNaja==1">
                                        <span class="validation-err">IP را با فرمت صحیح وارد کنید.</span>
                                    </div>
                                </div>
                                <div class="row form-group"
                                     ng-class="{'has-error':(touched) && registerForm.samane.$invalid}">
                                    <div class="col col-md-3">
                                        <label for="shomareAmval" class=" form-control-label">سامانه مورد
                                            بهره‌برداری</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input ng-model="form.samane" type="text" name="samane" class="form-control"
                                               placeholder="" autocomplete="off">
                                    </div>
                                </div>
                                <a class="btn btn-success" href="files/Speccy.exe">نرم‌افزار</a>
                                <button ng-if="edit" type="submit" style="float: left" class="btn btn-primary">اصلاح
                                </button>
                                <button ng-if="!edit" type="submit" style="float: left" class="btn btn-primary">ثبت
                                </button>
                            </div>

                        </div>
                    </form>
                    <div class="modal in" ng-class="{'showModal':registerMonitorModal}" role="dialog"
                         ng-init="regMon='/page/registerMonitor.html'">
                        <style>
                            .showModal {
                                display: block !important;
                            }
                        </style>
                        <div class="modal-dialog scroll">
                            <style>
                                .scroll .box {

                                    border-top: none !important;
                                    margin-bottom: 0 !important;
                                    box-shadow: none !important;
                                }

                                .scroll .box.box-info {
                                    padding: 0 !important;
                                }

                                .scroll .card-header {
                                    display: none;
                                }

                                .scroll form {
                                    margin-bottom: 0;
                                }
                            </style>
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" ng-click="registerMonitorModal=false;">
                                        &times;
                                    </button>
                                    <h4 class="modal-title">ثبت مانیتور</h4>
                                </div>
                                <div class="modal-body" ng-include="regMon">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" ng-click="registerMonitorModal=false"
                                            class="btn btn-default">بستن
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal in" ng-class="{'showModal':registerPrinterModal}" role="dialog"
                         ng-init="regPrinter='/page/registerHardware.html'">
                        <style>
                            .showModal {
                                display: block !important;
                            }
                        </style>
                        <div class="modal-dialog scroll">
                            <style>
                                .scroll .box {

                                    border-top: none !important;
                                    margin-bottom: 0 !important;
                                    box-shadow: none !important;
                                }

                                .scroll .box.box-info {
                                    padding: 0 !important;
                                }

                                .scroll .card-header {
                                    display: none;
                                }

                                .scroll form {
                                    margin-bottom: 0;
                                }
                            </style>
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" ng-click="registerPrinterModal=false;">
                                        &times;
                                    </button>
                                    <h4 class="modal-title">ثبت پرینتر</h4>
                                </div>
                                <div class="modal-body" ng-include="regPrinter">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" ng-click="registerPrinterModal=false"
                                            class="btn btn-default">بستن
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal in" ng-class="{'showModal':registerScannerModal}" role="dialog"
                         ng-init="regScanner='/page/registerHardware.html'">
                        <style>
                            .showModal {
                                display: block !important;
                            }
                        </style>
                        <div class="modal-dialog scroll">
                            <style>
                                .scroll .box {

                                    border-top: none !important;
                                    margin-bottom: 0 !important;
                                    box-shadow: none !important;
                                }

                                .scroll .box.box-info {
                                    padding: 0 !important;
                                }

                                .scroll .card-header {
                                    display: none;
                                }

                                .scroll form {
                                    margin-bottom: 0;
                                }
                            </style>
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" ng-click="registerScannerModal=false;">
                                        &times;
                                    </button>
                                    <h4 class="modal-title">ثبت اسکنر</h4>
                                </div>
                                <div class="modal-body" ng-include="regScanner">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" ng-click="registerScannerModal=false"
                                            class="btn btn-default">بستن
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>