<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card" >
                <div class="card-header">
                    <h3 class="box-title" ng-hide="form.id">ثبت تعمیرات در سامانه</h3>
                    <h3 class="box-title" ng-show="form.id">اصلاح تعمیرات در سامانه</h3>
                </div>
                <div class="card-body">
                    <form name="registerRepairForm" ng-submit="submit(registerRepairForm,$valid)" novalidate>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group" class="rri-div" ng-class="{'has-error':(registerRepairForm.Case_shomareShenasaei.$touched || touched) && registerRepairForm.Case_shomareShenasaei.$invalid}">
                                    <div class="input-group" style="width: 100%"  >
                                        <input style="width: calc(100% - 46px);float: right"
                                               ng-model="Case_shomareShenasaei" type="text" name="Case_shomareShenasaei"
                                               class="form-control" placeholder="شماره شناسایی / شماره اموال"
                                               ng-minlength="4" ng-maxlength="10"
                                               required autocomplete="off">
                                        <div>
                                            <button ng-click="getCase()" type="button"
                                                    style="border-radius: 3px 0 0 3px;font-size: 20px"
                                                    class="btn btn-outline-secondary"><span class="icon-search "></span>
                                            </button>
                                        </div>
                                    </div>
                                    <span class="validation-err">شماره شناسایی باید چهار رقمی باشد.</span>
                                </div>
                            </div>
                            <div class="col-md-6" style="margin-top:-12px;" ng-init="init=1">
                                <div class="" style="margin-right:20px;">
                                    <label class="radio"><input ng-model="init" type="radio" name="init" value="1"> ورود سیستم به تعمیرگاه </label>
                                    <br />
                                    <label class="radio"><input ng-model="init" type="radio" name="init" value="0"> تحویل سیستم </label>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row" ng-show="init==1">
                            <div class="col-md-6">
                                <div class="rri-div" ng-class="{'has-error':(registerRepairForm.Yegan_id.$touched || touched) && registerRepairForm.Yegan_id.$invalid}">
                                    <div class="form-group">
                                        <input type="text" ng-model="initForm.deliverer" name="description"
                                                  placeholder="تحویل دهنده" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <button style="float:left" type="submit" class="btn btn-primary">ثبت</button>
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-show="init==0">

                            <div class="col-md-6">
                                <div class="rri-div" ng-class="{'has-error':(registerRepairForm.OS_id.$touched || touched) && registerRepairForm.OS_id.$invalid}">
                                    <div class="input-group" style="width: 100%;height: 34px;" >
                                        <label style="user-select: none" class="checkbox-inline" >
                                            <input type="checkbox"
                                                                                ng-model="form.OS"
                                                                                title="نصب سیستم‌عامل"> نصب
                                            ویندوز</label>

                                            <select  name="OS_id" style="width: 50%;" ng-model="form.OS_id" ng-disabled="!form.OS"
                                                    class="custom-select form-control"
                                                    ng-required="form.OS">
                                                <option value="">نوع سیستم عامل را انتخاب کنید</option>
                                                <option ng-repeat="y in oss" value="<~ y.id ~>"><~y.title~></option>
                                            </select>

                                        <span class="validation-err">نوع سیستم عامل را انتخاب کنید.</span>
                                    </div>
                                </div>
                                <div class="rri-div" ng-class="{'has-error':(registerRepairForm.software.$touched || touched) && registerRepairForm.software.$invalid}">
                                    <div style="height: 36px">
                                        <label style="user-select: none" class="checkbox-inline" >
                                            <input name="software" ng-model="form.software" type="checkbox"
                                                                                title="نصب نرم‌افزارهای جانبی" ng-required="form.OS">
                                            نصب نرم‌افزارهای جانبی</label>
                                    </div>
                                </div>
                                <div class="rri-div" ng-class="{'has-error':(registerRepairForm.antivirus.$touched || touched) && registerRepairForm.antivirus.$invalid}">
                                    <div style="height: 36px">
                                        <label style="user-select: none" class="checkbox-inline" ><input name="antivirus" ng-model="form.antivirus"
                                                                                type="checkbox"
                                                                                title="نصب آنتی ویروس" ng-required="form.OS"> نصب آنتی
                                            ویروس</label>
                                    </div>
                                </div>
                                <div class="rri-div" ng-class="{'has-error':(registerRepairForm.setIP.$touched || touched) && registerRepairForm.setIP.$invalid}">
                                    <div class="input-group" style="width: 100%;height: 34px;" ng-class="{'has-error':(registerRepairForm.IP.$touched || touched) && registerRepairForm.IP.$invalid}">
                                        <label style="user-select: none" class="checkbox-inline">
                                            <input ng-model="form.setIP" name="setIP"
                                                                                type="checkbox" title="اختصاص دادن IP" ng-required="form.OS && inNaja==1">
                                            اختصاص
                                            دادن
                                            IP</label>
                                        <input style="width: 50%;" class="form-control" type="text" placeholder="IP"
                                               ng-disabled="!form.setIP" ng-model="form.ip" ng-required="form.setIP" ng-ip-address/>
                                        <span class="validation-err">IP را وارد کنید.</span>
                                    </div>
                                </div>
                                <div class="rri-div">
                                    <div class="input-group" style="width: 100%;height: 34px;">
                                        <label style="user-select: none" class="checkbox-inline"><input type="checkbox"
                                                                                ng-model="form.Harddisk"
                                                                                title="تعویض هارد"> تعویض هارد</label>
                                        <select style="width: 50%;" ng-model="form.Harddisk_id"
                                                ng-disabled="!form.Harddisk" class="custom-select form-control"
                                                name="Harddisk_id"
                                                ng-required="form.Harddisk">
                                            <option value="">نوع هارد را انتخاب کنید</option>
                                            <option ng-repeat="y in harddisks" value="<~ y.id ~>"><~y.title~></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="rri-div">
                                    <div class="form-group">
                                        <label>
                                            <div>تاریخ آماده تحویل:</div>
                                        </label>
                                        <adm-dtp ng-model='form.readyDate'
                                                 options='{calType: "jalali",multiple:false,autoClose:true, format: "YYYY/MM/DD hh:mm"}'></adm-dtp>

                                    </div>
                                </div>
                                <div class="rri-div">
                                    <div class="form-group">
                                        <label>
                                            <div>تاریخ تحویل:</div>
                                        </label>
                                        <adm-dtp ng-model='form.outDate'
                                                 options='{calType: "jalali",multiple:false,autoClose:true, format: "YYYY/MM/DD hh:mm"}'></adm-dtp>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="rri-div">
                                    <div class="input-group" style="width: 100%;height: 34px;">
                                        <label style="user-select: none" class="checkbox-inline"><input ng-model="form.CPU"
                                                                                 type="checkbox"
                                                                                title="تعویض سی‌پی‌یو"> تعویض
                                            سی‌پی‌یو</label>
                                        <select style="width: 50%;" ng-model="form.CPU_id" ng-disabled="!form.CPU"
                                                class="custom-select form-control" name="CPU_id"
                                                ng-required="form.CPU">
                                            <option value="">سی‌پی‌یو را انتخاب کنید</option>
                                            <option ng-repeat="y in cpus" value="<~ y.id ~>"><~y.title~></option>
                                        </select>
                                    </div>
                                </div>

                                <div class="rri-div">
                                    <div class="input-group">
                                        <label style="user-select: none" class="checkbox-inline"><input ng-model="form.RAM"
                                                                                 type="checkbox"
                                                                                title="تعویض رم"> تعویض رم</label>
                                        <select style="width: 50%;" ng-model="form.RAM_id" ng-disabled="!form.RAM"
                                                class="custom-select form-control" name="RAM_id"
                                                ng-required="form.RAM">
                                            <option value="">رم را انتخاب کنید</option>
                                            <option ng-repeat="y in rams" value="<~ y.id ~>"><~y.title~></option>
                                        </select>
                                    </div>

                                </div>
                                <div class="rri-div">
                                    <div class="input-group">
                                        <label class="checkbox-inline"  style="user-select: none"><input type="checkbox"
                                                ng-model="form.Mainboard" title="تعویض مادربورد"> تعویض
                                            مادربورد</label>
                                        <select style="width: 50%;" ng-model="form.Mainboard_id" ng-disabled="!form.Mainboard"
                                                class="custom-select form-control" name="Mainboard_id"
                                                ng-required="form.Mainboard">
                                            <option value="">مادربورد را انتخاب کنید</option>
                                            <option ng-repeat="y in mainboards" value="<~ y.id ~>"><~y.title~></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="rri-div">
                                    <div style="height: 36px;">
                                        <label style="user-select: none" class="checkbox-inline" ><input type="checkbox"
                                                                                title="تعویض پاور" ng-model="form.power"> تعویض پاور</label>
                                    </div>
                                </div>
                                <div
                                     class="rri-div" ng-class="{'has-error':(registerRepairForm.Yegan_id.$touched || touched) && registerRepairForm.Yegan_id.$invalid}">
                                    <div class="form-group">
                                        <textarea type="text" ng-model="form.description" name="description"
                                                  placeholder="شرح تعمیرات" class="form-control"></textarea>
                                    </div>
                                </div>
                                <br />
                                <div
                                     class="rri-div" ng-class="{'has-error':(registerRepairForm.Yegan_id.$touched || touched) && registerRepairForm.Yegan_id.$invalid}">
                                    <div class="form-group">
                                        <input type="text" ng-model="form.getter" name="description"
                                                  placeholder="تحویل گیرنده" class="form-control">
                                    </div>
                                </div>
                                <div class="rri-div">
                                    <div class="input-group">
                                        <select style="width: 100%;" ng-model="form.Repairer_id"
                                                class="custom-select form-control" name="Repairer_id">
                                            <option value="">کارشناس تعمیرات</option>
                                            <option ng-repeat="y in repairers" value="<~ y.id ~>"><~y.title~></option>
                                        </select>
                                    </div>
                                </div>
                                <div
                                     class="rri-div" ng-class="{'has-error':(registerRepairForm.Yegan_id.$touched || touched) && registerRepairForm.Yegan_id.$invalid}">
                                    <div class="form-group">
                                        <input type="number" ng-model="form.plumpNum" name="description"
                                                  placeholder="شماره پلمپ" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button style="float:left" ng-show="form.id" type="submit" class="btn btn-primary">ثبت</button>
                                    <button style="float:left" ng-hide="form.id" type="submit" class="btn btn-primary">ثبت اصلاحات</button>

                                </div>
                            </div>
                        </div>

                    </form>
                    <style>
                        .rri-div > div {
                            width: 100%;
                            height: 34px;
                        }

                        .rri-div {
                            margin-bottom: 20px;
                        }
                    </style>


                </div>
            </div>
        </div>
    </div>
    <style>
        .checkbox-inline input[type="checkbox"]{
            margin-right: -20px !important;

        }
        .checkbox-inline{
            margin-right: 20px;
        }
    </style>
</div>