<div class="container-fluid" ng-controller="registerMonitor">
    <div class="row">
        <div class="col-md-12">
            <div class="card" >
                <div class="card-header">
                    <h3 class="box-title">ثبت مانیتور در سامانه</h3>
                </div>
                <div class="card-body">
                    <form target="_self" name="registerMonitorForm" ng-submit="registerMonitor(registerMonitorForm,$valid)" novalidate>
                        <div class="form-group"
                             ng-class="{'has-error':(touched) && registerMonitorForm.shomareAmval.$invalid}">
                            <input type="number" ng-model="monitor.shomareAmval" name="shomareAmval" class="form-control" ng-minlength="10" ng-maxlength="10" placeholder="شماره اموال" required>
                            <span class="validation-err">شماره اموال را وارد کنید</span>
                        </div>
                        <div class="form-group"
                             ng-class="{'has-error':(touched) && !selectedYeganMonitor}">
                            <div class="form-control">
                                <span style="float:left" ng-show="selectedYeganMonitor!=null&&selectedYeganMonitor!=undefined" class="icon-cross" ng-click="selectedYeganMonitor=null;$this.preventDefault()"></span>
                                <span ng-click="yeganSelection=!yeganSelection"><~ selectedYeganMonitor.title||"یگان را انتخاب کنید" ~></span>
                            </div>
                            <span class="validation-err">یک یگان انتخاب کنید.</span>

                            <!-- Modal -->
                            <div class="modal in" ng-class="{'showModal':yeganSelection}" role="dialog">
                                <style>
                                    .showModal {
                                        display: block !important;
                                    }
                                </style>
                                <div class="modal-dialog">

                                    <!-- Modal content-->
                                    <div class="modal-content scroll">
                                        <div class="modal-header">
                                            <button type="button" class="close" ng-click="yeganSelection=false">
                                                &times;
                                            </button>
                                            <h4 class="modal-title">انتخاب یگان</h4>
                                        </div>
                                        <div class="modal-body">
                                            <treecontrol ng-show="yeganSelection" class="tree-classic"
                                                         tree-model="yegans"
                                                         options="treeOptions"
                                                         selected-node="selectedYeganMonitor"
                                            >
                                                <div><~node.title~></div>
                                            </treecontrol>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" ng-click="yeganSelection=false"
                                                    class="btn btn-default">بستن
                                            </button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="form-group"
                             ng-class="{'has-error':(touched) && registerMonitorForm.Type_id.$invalid}">
                            <select ng-model="monitor.Type_id" class="custom-select form-control" name="Type_id" required>
                                <option value="">نوع مانیتور را انتخاب کنید</option>
                                <option ng-repeat="y in monitorTypes" value="<~ y[0] ~>"><~y[1]~></option>
                            </select>
                            <span class="validation-err">نوع مانیتور را انتخاب کنید</span>
                        </div>
                        <div class="form-group" ng-class="{'has-error':(touched) && registerMonitorForm.size.$invalid}">
                            <input ng-model="monitor.size" type="text" name="size" class="form-control" placeholder="اندازه صفحه" ng-minlength="2" ng-maxlength="100"
                                   autocomplete="off" required>
                            <span class="validation-err">اندازه را وارد کنید</span>
                        </div>
                        <div class="form-group">
                            <textarea ng-model="monitor.description" type="text" name="description" class="form-control" placeholder="توضیحات"
                                      autocomplete="off"></textarea>
                            <span class="validation-err">توضیحات را وارد کنید</span>
                        </div>
                        <div class="form-group">
                            <button type="submit"  class="btn btn-primary">ثبت</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        app.controller("registerMonitor",function ($scope,$http,inform) {
            $http.post("getAll/MonitorType").then(function ($resp) {
                $scope.monitorTypes = $resp.data;
            });
            $scope.searchId = function(){
                $http.post("getAll/monitor", {filter:{id:$scope.monitor.id}}).then(function ($resp) {

                });
            };
            $scope.submit = function (registerMonitorForm) {
                $scope.touched = true;
                if (registerMonitorForm.$valid) {
                    $http.post("register/monitor", $scope.form).then(function ($resp) {
                        if($resp.status===200) {
                            if ($resp.data.id < 0) {
                                inmonitor.add($resp.data.message, {ttl: 3000, type: "warning"});
                            } else {
                                inmonitor.add($resp.data.message, {ttl: 3000, type: "success"});
                                $scope.form = {};
                                $scope.touched = false;
                            }
                        }else{
                            inmonitor.add("اشکالی در اتصال به سرور پیش آمد.", {ttl: 3000, type: "error"});
                        }
                    });
                } else {
                    inmonitor.add("فیلدهای مشخص شده باید تکمیل شوند", {ttl: 3000, type: "warning"});
                }

            }
        });
    </script>
</div>