<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h3 class="title-5 m-b-35">گزارشات تعمیرات سامانه</h3>

            <div class="table-data__tool">

                <div class="table-data__tool-left">

                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <input placeholder="شماره اموال" class="form-control" type="text"
                                       ng-model="filter.shomareAmval" ng-change="reload()"/>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <input placeholder="شناسایی" class="form-control" type="text"
                                       ng-model="filter.shomareShenasaei" ng-change="reload()"/>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group inline"
                                 ng-class="{'has-error':(registerForm.Yegan_id.$touched || touched) && registerForm.Yegan_id.$invalid}">
                                <div ng-click="yeganSelection=!yeganSelection" class="form-control yegan-div"><~
                                    selectedYegan.title||"یگان" ~>
                                </div>
                                <!-- Modal -->
                                <div id="myModal" class="modal in" ng-class="{'showModal':yeganSelection}"
                                     role="dialog">
                                    <style>
                                        .showModal {
                                            display: block !important;
                                        }
                                    </style>
                                    <div class="modal-dialog scroll">
                                        <!-- Modal content-->
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close"
                                                        ng-click="yeganSelection=false">&times;
                                                </button>
                                                <h4 class="modal-title">انتخاب یگان</h4>
                                            </div>
                                            <div class="modal-body">
                                                <treecontrol ng-show="yeganSelection" class="tree-classic"
                                                             tree-model="yegans"
                                                             options="treeOptions"
                                                             on-selection="showSelected(node)"
                                                             selected-node="selectedYegan"
                                                ><~node.title~>
                                                </treecontrol>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" ng-click="yeganSelection=false"
                                                        class="btn btn-default">بستن
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <label>از:</label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <adm-dtp ng-model='filter.fromDate'
                                         options='{calType: "jalali",multiple:false,autoClose:true, format: "YYYY/MM/DD"}'></adm-dtp>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <label>تا:</label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <adm-dtp ng-model='filter.toDate'
                                         options='{calType: "jalali",multiple:false,autoClose:true, format: "YYYY/MM/DD"}'></adm-dtp>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="input-group">
                                <select ng-change="reload()" style="width: 100%" ng-model="filter.Repairer_id" class="custom-select form-control">
                                    <option value="">کارشناس</option>
                                    <option ng-repeat="y in repairers" value="<~ y.id ~>"><~y.title~></option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <label><input class="checkbox checkbox-inline" type="checkbox"
                                              ng-change="filter.OS=OSFilter?1:'';reload()"
                                              ng-model="OSFilter"/>OS</label>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                <label><input class="checkbox checkbox-inline" type="checkbox"
                                              ng-change="filter.Mainboard=mainboardFilter?1:'';reload()"
                                              ng-model="mainboardFilter"/>ماردبورد</label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label><input class="checkbox checkbox-inline" type="checkbox"
                                              ng-change="filter.CPU=cpuFilter?1:'';reload()"
                                              ng-model="cpuFilter"/>CPU</label>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <label><input class="checkbox checkbox-inline" type="checkbox"
                                              ng-change="filter.Harddisk=HarddiskFilter?1:'';reload()"
                                              ng-model="HarddiskFilter"/>هارد</label>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <label><input class="checkbox checkbox-inline" type="checkbox"
                                              ng-change="filter.RAM=RAMFilter?1:'';reload()"
                                              ng-model="RAMFilter"/>رم</label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label><input class="checkbox checkbox-inline" type="checkbox"
                                              ng-change="filter.antivirus=antivirusFilter?1:'';reload()"
                                              ng-model="antivirusFilter"/>آنتی‌ویروس</label>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <label><input class="checkbox checkbox-inline" type="checkbox"
                                              ng-change="filter.power=powerFilter?1:'';reload()"
                                              ng-model="powerFilter"/>پاور</label>
                            </div>
                        </div>

                    </div>


                </div>
                <div class="table-date__tool-right">

                            <button style="margin-top: calc(50% + 10px);" class="au-btn au-btn-icon au-btn--green au-btn--small" ng-click="reload()">فیلتر
                            </button>


                </div>
            </div>

            <div>

                <div class="table-responsive table--no-card m-b-30">
                    <table class="table table-data2 table-earning dataTable">
                        <thead>
                        <tr style="height: 80px;">
                            <th>ردیف</th>
                            <th> شماره اموال<br/> شماره‌شناسایی</th>
                            <th>تاریخ ورود</th>
                            <th>تاریخ خروج</th>
                            <th>کارشناس</th>
                            <th>مادربورد <br/> سی‌پی‌یو</th>
                            <th>هارد</th>
                            <th>سیستم‌عامل</th>
                            <th>رم</th>
                            <th>
                                <div style="transform: rotate(270deg);margin-bottom: -5px;margin-top: -32px;max-width: 25px;">
                                    آنتی‌ویروس
                                </div>
                            </th>
                            <th>آی ‌پی</th>
                            <th>
                                <div style="transform: rotate(270deg);margin-bottom: -5px;margin-top: -32px;max-width: 25px;">
                                    نرم‌افزار
                                </div>
                            </th>
                            <th>پاور</th>
                            <th>تحویل دهنده</th>
                            <th>تحویل گیرنده</th>
                            <th>توضیحات</th>
                            <th>شماره‌پلمپ</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="spacer" ng-repeat-start="case in repairs"></tr>
                        <tr ng-repeat-end>
                            <td><~($index+1)+form.row_limit*(form.page-1)~></td>
                            <td>
                                <table>
                                    <tr>
                                        <td><span class="block-email" style="background: rgb(158,238,179)"><~ case['15'] ~></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><~ case['0'] ~></td>
                                    </tr>
                                </table>
                            </td>
                            <td><~ case['1'] ~></td>
                            <td><~ case['2'] ~></td>
                            <td><~ case['17'] ~></td>
                            <td><~case['13']~><br/><~ case['4'] ~></td>
                            <td><~ case['5'] ~></td>
                            <td><~ case['6'] ~></td>
                            <td><~ case['7'] ~></td>
                            <td><input type="checkbox" ng-checked="case['8']==1" disabled="disabled"></td>
                            <td><~ case['9'] ~></td>
                            <td><input type="checkbox" ng-checked="case['10']==1" disabled="disabled"></td>
                            <td><input type="checkbox" ng-checked="case['14']==1" disabled="disabled"></td>
                            <td><~case['11']~></td>
                            <td><~case['12']~></td>

                            <td>
                                <div class="grow"><~ case['3'] ~></div>
                            </td>
                            <td><~case['18']~></td>
                            <td style="vertical-align:middle;padding-left:10px !important;">
                                <div class="table-data-feature">
                                <button href="#!/registerRepair#<~ case['16']~>" class="item">
<i class="zmdi icon-edit" style="color:#1e7e34;"></i>
                                </button>
                                </div>
                            </td>

                        </tr>
                        </tbody>
                    </table>
                </div>
                نمایش تعداد
                <div class="form-group form-inline" style="display: inline-block;">
                    <select ng-model="form.row_limit" class="form-control" ng-change="reload()">
                        <option value="10">۱۰</option>
                        <option value="20">۲۰</option>
                        <option value="50">۵۰</option>
                        <option value="100">۱۰۰</option>
                    </select>
                </div>
                مورد
                از
                <~num_rows~>
                <button ng-repeat="a in [] | range:pageNum" style="margin:5px;" class="btn"
                        ng-class="{'btn-primary':form.page==a+1}" ng-click="page(a+1)"><~a+1~>
                </button>
                <style>
                    table td {
                        border: 1px solid #1c2d3f;
                        text-align: center;
                    }

                    .grow {
                        padding: 5px 5px 5px 5px;
                        border-radius: 10px;
                        height: 35px;
                        width: 150px;
                        margin: 5px 1% 5px 1%;
                        float: left;
                        position: relative;
                        transition: height 0.5s;
                        -webkit-transition: height 0.5s;
                        text-align: center;
                        overflow: hidden;
                    }

                    .grow:hover {
                        height: auto;
                    }
                </style>
            </div>


        </div>
    </div>
</div>