<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">

            <h3 class="title-5 m-b-35">گزارشات سخت افزارهای سامانه</h3>

            <div class="table-data__tool">
                <div class="table-data__tool-left">
                    <div class="rs-select2--light rs-select2--md">

                        <input class="form-control" type="text" ng-change="reload()" ng-model="form.filter.shomareAmval"
                               placeholder="شماره اموال"/>
                    </div>

                    <div class="rs-select2--light rs-select2--md">

                        <select ng-model="form.filter['Hardware`.`status']" ng-change="reload()"
                                class="form-control js-select2 select2-hidden-accessible" name="type" required>
                            <option value="1">در یگان</option>
                            <option value="2">عودت</option>
                            <option value="3">رده خارج</option>
                        </select>
                    </div>
                    <div class="rs-select2--light rs-select2--md">

                            <div class="form-control yegan-div">
                                <span ng-show="selectedYegan!=null&&selectedYegan!=undefined" class="icon-cross"
                                      ng-click="selectedYegan=null"></span>
                                <span class="yegan" ng-click="yeganSelection=!yeganSelection"><~ selectedYegan.title||"یگان را انتخاب کنید" ~></span>

                            </div>
                            <div id="myModal" class="modal in" ng-class="{'showModal':yeganSelection}"
                                 role="dialog">
                                <style>
                                    .showModal {
                                        display: block !important;
                                    }
                                </style>
                                <div class="modal-dialog scroll">
                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" ng-click="yeganSelection=false">
                                                &times;
                                            </button>
                                            <h4 class="modal-title">انتخاب یگان</h4>
                                        </div>
                                        <div class="modal-body">
                                            <treecontrol ng-show="yeganSelection" class="tree-classic"
                                                         tree-model="yegans"
                                                         options="treeOptions"
                                                         on-selection="yeganSelection=false"
                                                         selected-node="selectedYegan"
                                            ><~node.title~>
                                            </treecontrol>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" ng-click="yeganSelection=false"
                                                    class="btn btn-default">بستن
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                    <div class="rs-select2--light rs-select2--md">

                        <select ng-model="form.filter['hardware`.`type']" class="form-control" name="type"
                                ng-change="reload()" required title="نوع س">
                            <option value="">نوع سخت‌افزار</option>
                            <option value="1">کیس</option>
                            <option value="2">مانیتور</option>
                            <option value="3">پرینتر</option>
                            <option value="4">اسکنر</option>
                            <option value="5">UPS</option>
                        </select>
                    </div>

                    <!--<div class="col-md-1" style="float: left;">
                        <button class="btn btn-sm btn-default" type="button" ng-click="reload()">فیلتر</button>
                    </div>-->
                </div>
                <div class="table-data__tool-right">
                </div>
                <button class="au-btn au-btn-icon au-btn--green au-btn--small" ng-click="reload()">فیلتر</button>
            </div>
            <div class="table-responsive table--no-card m-b-30">
                <table class="table table-data2 table-earning dataTable">
                    <thead>
                    <tr>
                        <th>ردیف</th>
                        <th class="table-td">
                            <table>
                                <tr>
                                    <th><span class="block-email"
                                              style="background: rgb(158,238,179);">شماره‌شناسایی</span>
                                    </th>
                                </tr>
                                <tr>
                                    <th>شماره اموال</th>
                                </tr>
                            </table>
                        </th>
                        <th>نوع</th>
                        <th>مدل</th>
                        <th>یگان</th>
                        <th>تاریخ ثبت</th>
                        <th>وضعیت یگان</th>
                        <th>تاریخ ورود به یگان</th>
                        <th>تاریخ خروج از یگان</th>
                        <th style="min-width: 140px;"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="spacer" ng-repeat-start="hardware in cases"></tr>
                    <tr ng-repeat-end>
                        <td><~($index+1)+form.row_limit*(form.page-1)~></td>
                        <td>
                            <table>
                                <tr>
                                    <td><span class="block-email" style="background: rgb(158,238,179)"><~ hardware.shomareShenasaei ~></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td><~ hardware.shomareAmval ~></td>
                                </tr>
                            </table>
                        </td>
                        <td><~ hardware.type ~></td>
                        <td><~ hardware.Model_title ~></td>
                        <td>
                            <div style="max-height: 39px;max-height: 30px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;text-overflow-ellipsis: 10">
                                <~ hardware.Yegan2_title!=null?hardware.Yegan2_title+" | ":"" ~> <~
                                hardware.Yegan3_title!=null?hardware.Yegan3_title+" | ":"" ~> <~
                                hardware.Yegan_title ~>
                            </div>
                        </td>
                        <td><~ hardware.regDate ~></td>
                        <td><~ hardware.Hardware_status_title ~></td>
                        <td><~ hardware.Hardware_Yegan_inDate ~></td>
                        <td><~ hardware.Hardware_Yegan_outDate ~></td>
                        <td style="vertical-align:middle;padding-left:35px !important;">
                            <div class="table-data-feature">
                                <button class="item" title="عودت"
                                        ng-click="returnModal=true"><i class="zmdi icon-mail-forward"
                                                                       style="color:#007bff"></i></button>
                                <button class="item" title="اصلاح" ng-click="editModal=true"><i class="zmdi icon-edit"
                                                                                                style="color:#1e7e34;"></i>
                                </button>
                                <button class="item" title="رده خارج"
                                        ng-click="outDateModal=true"><i class="zmdi icon-trash"
                                                                        style="color: #bd2130;"></i></button>
                            </div>
                            <div class="modal in" ng-class="{'showModal':returnModal}" role="dialog">
                                <style>
                                    .showModal {
                                        display: block !important;
                                    }
                                </style>
                                <div class="modal-dialog">
                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" ng-click="returnModal=false">
                                                &times;
                                            </button>
                                            <h4 class="modal-title">عودت سخت‌افزار</h4>
                                        </div>
                                        <div class="modal-body">
                                            آیا برای عودت مطئنید؟
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" ng-click="returned(hardware.shomareAmval)"
                                                    class="btn btn-success">عودت
                                            </button>
                                            <button type="button" style="float:left"
                                                    ng-click="returnModal=false" class="btn btn-danger">بستن
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal in" ng-class="{'showModal':editModal}" role="dialog">
                                <style>
                                    .showModal {
                                        display: block !important;
                                    }
                                </style>
                                <div class="modal-dialog">
                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" ng-click="editModal=false">
                                                &times;
                                            </button>
                                            <h4 class="modal-title">اصلاح سیستم</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="modal-footer">
                                                <a href="#!/editSystem#<~hardware.shomareAmval~>">
                                                    <button type="button" style="float:right"
                                                            ng-click="editModal=false" class="btn btn-success">
                                                        اصلاح
                                                    </button>
                                                </a>
                                                <button type="button" style="float:left"
                                                        ng-click="editModal=false" class="btn btn-danger">بستن
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal in" ng-class="{'showModal':outDateModal}" role="dialog">
                                <style>
                                    .showModal {
                                        display: block !important;
                                    }

                                    table table {
                                        width: 100%;
                                    }

                                    table table tr, table table tr td {
                                        border: none;
                                    }

                                    table table tr td {
                                        padding-top: 2px;
                                    }

                                    table table tr {
                                        border-bottom: 1px solid #d0d0d0;
                                    }

                                    table table tr:last-child {
                                        border-bottom: none;
                                    }

                                    table td {
                                        border: 1px solid #1c2d3f;
                                        text-align: center;
                                    }

                                    .table-td {
                                        padding: 0 !important;
                                    }

                                </style>
                                <div class="modal-dialog">
                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" ng-click="outDateModal=false">
                                                &times;
                                            </button>
                                            <h4 class="modal-title">از رده‌خارج کردن سخت‌افزار</h4>
                                        </div>
                                        <div class="modal-body">
                                            آیا برای رده‌خارج کردن مطئنید؟
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" ng-click="outDate( hardware.shomareAmval )"
                                                    class="btn btn-success">رده‌خارج
                                            </button>
                                            <button type="button"
                                                    ng-click="delete( hardware.shomareAmval , hardware.type)"
                                                    class="btn btn-warning">حذف
                                            </button>
                                            <button type="button" style="float:left"
                                                    ng-click="outDateModal=false" class="btn btn-danger">بستن
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            نمایش تعداد
            <div class="form-group form-inline" style="display: inline-block;">
                <select ng-model="form.row_limit" class="form-control" ng-change="reload()">
                    <option value="10">۱۰</option>
                    <option value="20">۲۰</option>
                    <option value="50">۵۰</option>
                    <option value="100">۱۰۰</option>
                </select>
            </div>
            مورد
            از
            <~num_rows~>
            <button ng-repeat="a in [] | range:pageNum" style="margin:5px;" class="btn"
                    ng-class="{'btn-primary':form.page==a+1}" ng-click="page(a+1)"><~a+1~>
            </button>

            <style>
                table td {
                    border: 1px solid #1c2d3f;
                    text-align: center;
                }
            </style>
        </div>
    </div>


</div>
</div>