<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">


            <h3 class="title-5 m-b-35">گزارشات سیستم‌های سامانه</h3>
                <div class="table-data__tool" style="margin:10px 0 0 0;width: 100%;">
                    <div class="col-md-2">
                        <div class="form-group">
                            <select ng-model="form.filter['Hardware`.`status']" ng-change="filter()"
                                    class="form-control" name="type" required>
                                <option value="1">در یگان</option>
                                <option value="2">عودت</option>
                                <option value="3">رده خارج</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div>
                            <input style="direction: ltr" class="form-control" type="text"
                                   ng-model="form.filter['Case`.`shomareShenasaei']" ng-change="filter()"
                                   placeholder="شماره شناسایی">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div>
                            <input style="direction: ltr" class="form-control" type="text"
                                   ng-model="form.filter['Case`.`shomareAmval']" ng-change="filter()"
                                   placeholder="شماره اموال">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div>
                            <input style="direction: ltr" class="form-control" type="text"
                                   ng-model="form.filter['Case`.`ip']" ng-change="filter()" placeholder="IP">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group"
                             ng-class="{'has-error':(registerForm.Yegan_id.$touched || touched) && registerForm.Yegan_id.$invalid}">
                            <div class="form-control yegan-div">
                                <span style="float:left" ng-show="selectedYegan!=null&&selectedYegan!=undefined" class="icon-cross" ng-click="selectedYegan=null"></span>
                                <span class="yegan"  ng-click="yeganSelection=!yeganSelection"><~ selectedYegan.title||"یگان را انتخاب کنید" ~></span>

                            </div>
                            <div id="myModal" class="modal in" ng-class="{'showModal':yeganSelection}" role="dialog">
                                <style>
                                    .showModal {
                                        display: block !important;
                                    }
                                </style>
                                <div class="modal-dialog scroll">
                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" ng-click="yeganSelection=false">
                                                &times;
                                            </button>
                                            <h4 class="modal-title">انتخاب یگان</h4>
                                        </div>
                                        <div class="modal-body">
                                            <treecontrol ng-show="yeganSelection" class="tree-classic"
                                                         tree-model="yegans"
                                                         options="treeOptions"
                                                         on-selection="yeganSelection=false"
                                                         selected-node="selectedYegan"
                                            ><~node.title~>
                                            </treecontrol>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" ng-click="yeganSelection=false"
                                                    class="btn btn-default">بستن
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-1" style="float: left;">
                        <button class="btn btn-primary" type="button" style="float: left;" ng-click="filter()">فیلتر
                        </button>
                        <style>
                            .flip {
                                -moz-transform: rotate(180deg);
                                -o-transform: rotate(180deg);
                                -webkit-transform: rotate(180deg);
                                transform: rotate(180deg);
                            }
                        </style>
                    </div>
                    <div class="col-md-1" style="padding: 0;">
                                <span ng-click="extraFilters=!extraFilters" class="btn btn-default"
                                      style="cursor: pointer;user-select: none">
                                    <span class="icon-caret-down"
                                          style="width: 10px;font-size: 17px;margin-top: 3px;margin-bottom: -3px;position: absolute;"
                                          ng-class="{flip:extraFilters}" ng-init="extraFilters=false"></span>
                                    <span style="margin-right: 13px;">فیلترهای بیشتر</span>
                                </span>
                    </div>
                </div>
                <br/>
                <div class="table-data__tool" ng-show="extraFilters">
                    <div class="col-md-2">

                        <div class="form-group">
                            <select ng-model="form.filter['Monitor`.`Type_id']" ng-change="filter()"
                                    class="form-control" name="MonitorType_id" required>
                                <option value="">مانیتور</option>
                                <option ng-repeat="y in monitorTypes" value="<~ y.id ~>"><~y.title~></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <select ng-model="form.filter.OS_id" ng-change="filter()" class="form-control" name="OS_id"
                                    required>
                                <option value="">سیستم عامل</option>
                                <option ng-repeat="y in oss" value="<~ y.id ~>"><~y.title~></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <select ng-model="form.filter.RAM_id" ng-change="filter()" name="RAM_id"
                                    class="form-control" required>
                                <option value="">RAM</option>
                                <option ng-repeat="y in rams" value="<~ y.id ~>"><~y.title~></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <select ng-model="form.filter.CaseType_id" ng-change="filter()" class="form-control"
                                    name="CaseType_id" required>
                                <option value="">نوع سیستم</option>
                                <option ng-repeat="y in caseTypes" value="<~ y.id ~>"><~y.title~></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <select ng-model="form.filter.Harddisk_id" ng-change="filter()" name="Harddisk_id"
                                    class="form-control" required>
                                <option value="">هارد</option>
                                <option ng-repeat="y in harddisks" value="<~ y.id ~>"><~y.title~></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <select ng-model="form.filter.CPU_id" ng-change="filter()" name="CPU_id"
                                    class="form-control" required>
                                <option value="">CPU</option>
                                <option ng-repeat="y in cpus" value="<~ y.id ~>"><~y.title~></option>
                            </select>
                        </div>
                    </div>

                </div>


                <div class="table-data__tool" ng-show="extraFilters">
                    <div class="">
                        <div class="form-group">

                            <select ng-model="form.filter.inNaja" class="form-control" ng-change="filter()">
                                <option value="">وضعیت شبکه</option>
                                <option value="1">داخل شبکه</option>
                                <option value="0">خارج شبکه</option>
                            </select>
                        </div>
                    </div>
                    <div class="">
                        <div class="form-group">
                            <select ng-model="form.filter.internet" class="form-control" ng-change="filter()">
                                <option value="">وضعیت اینترنت</option>
                                <option value="1">دسترسی به اینترنت</option>
                                <option value="0">عدم دسترسی به اینترنت</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="table-data__tool">
                    <div class="checkbox"><label class="form-check-label"><input type="checkbox" class="form-check-input" ng-model="more_columns">نمایش ستون‌های بیشتر</label></div>
                </div>
                <hr/>
                <div class="table-responsive table--no-card m-b-30">
                    <table class="table table-data2 table-earning dataTable">
                        <thead class="">
                        <tr>
                            <th>ردیف</th>
                            <th class="table-td">
                                <table>
                                    <tr>
                                        <th><span class="block-email" style="background: rgb(158,238,179);">شماره‌شناسایی</span></th>
                                    </tr>
                                    <tr>
                                        <th>شماره اموال</th>
                                    </tr>
                                </table>
                            </th>
                            <th>یگان</th>
                            <th class="table-td">
                                <table>
                                    <tr>
                                        <th>شبکه</th>
                                    </tr>
                                    <tr>
                                        <th>اینترنت</th>
                                    </tr>
                                </table>
                            </th>
                            <th ng-class="{'show-column':more_columns,'hide-column':!more_columns}" style="max-width: 90px;">نوع سیستم</th>
                            <style>

                            </style>
                            <th ng-class="{'show-column':more_columns,'hide-column':!more_columns}" style="max-width: 90px;">نوع مانیتور</th>
                            <th ng-class="{'show-column':more_columns,'hide-column':!more_columns}" style="max-width: 90px;">سیستم‌عامل</th>
                            <th class="table-td" ng-class="{'show-column':more_columns,'hide-column':!more_columns}" style="max-width: 70px;">
                                <table>
                                    <tr>
                                        <th>مادربورد</th>
                                    </tr>
                                    <tr>
                                        <th>CPU</th>
                                    </tr>
                                </table>
                            </th>
                            <th class="table-td" ng-class="{'show-column':more_columns,'hide-column':!more_columns}" style="max-width: 90px;">
                                <table>
                                    <tr>
                                        <th>RAM</th>
                                    </tr>
                                    <tr>
                                        <th>HardDisk</th>
                                    </tr>
                                </table>
                            </th>
                            <th class="table-td">
                                IP
                            </th>
                            <th>MAC Address</th>
                            <th>تعداد: <~ num + "/" + num_rows ~></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="spacer" ng-repeat-start="case in cases"></tr>
                        <tr ng-repeat-end>
                            <td><~($index+1)+form.row_limit*(form.page-1)~></td>
                            <td class="table-td">
                                <table>
                                    <tr>
                                        <td><span class="block-email" style="background: rgb(158,238,179)"><~ case.shomareShenasaei ~></span></td>
                                    </tr>
                                    <tr>
                                        <td><~ case.shomareAmval ~></td>
                                    </tr>
                                </table>
                            </td>
                            <td >
                                <div style="font-weight:700;max-height: 39px;max-height: 30px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;text-overflow-ellipsis: 10">
                                    <~ case.Yegan2_title!="None"?case.Yegan2_title+" |":"" ~> <~
                                    case.Yegan3_title!="None"?case.Yegan3_title+" |":"" ~> <~ case.Yegan_title ~>
                                </div>
                            </td>
                            <td class="table-td">
                                <table>
                                    <tr>
                                        <td>
                                            <div class="icon-check-circle status--process" ng-show="case.inNaja==1"></div>
                                            <div class="icon-ban status--denied" ng-hide="case.inNaja==1"></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="icon-check-circle status--process" ng-show="case.internet==1"></div>
                                            <div class="icon-ban status--denied" ng-hide="case.internet==1"></div>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td ng-class="{'show-column':more_columns,'hide-column':!more_columns}"><~ case.CaseType_title ~></td>
                            <td ng-class="{'show-column':more_columns,'hide-column':!more_columns}" style="max-width: 90px;"><~ case.MonitorType_title ~></td>
                            <td ng-class="{'show-column':more_columns,'hide-column':!more_columns}" style="max-width: 90px;"><~ case.OS_title ~></td>
                            <td class="table-td" ng-class="{'show-column':more_columns,'hide-column':!more_columns}" style="max-width: 70px;">
                                <table>
                                    <tr>
                                        <td style="color:#007bff"><~ case.Mainboard_title ~></td>
                                    </tr>
                                    <tr>
                                        <td style="color:#1e7e34;"><~ case.CPU_title ~></td>
                                    </tr>
                                </table>
                            </td>
                            <td class="table-td" ng-class="{'show-column':more_columns,'hide-column':!more_columns}" style="max-width: 90px;">
                                <table>
                                    <tr>
                                        <td  style="color:#007bff"><~ case.RAM_title ~></td>
                                    </tr>
                                    <tr>
                                        <td style="color:#1e7e34;"><~ case.Harddisk_title ~></td>
                                    </tr>
                                </table>
                            </td>
                            <td class="table-td">
                                <~ case.ip ~>
                            </td>
                            <td><~ case.mac_address ~></td>
                            <td style="vertical-align:middle;padding-left:35px !important;">
                                <div class="table-data-feature">
                                <button class="item" title="عودت" ng-click="returnModal=true">
                                    <i class="zmdi icon-mail-forward" style="color:#007bff"></i>
                                </button>
                                <button class="item" title="اصلاح" ng-click="editModal=true">
                                    <i class="zmdi icon-edit" style="color:#1e7e34;"></i>
                                </button>
                                <button class="item" title="رده خارج" ng-click="outDateModal=true" >
                                    <i class="zmdi icon-trash" style="color: #bd2130;"></i>
                                </button>
                                <div class="modal in" ng-class="{'showModal':returnModal}" role="dialog">
                                    <style>
                                        .showModal {
                                            display: block !important;
                                        }
                                    </style>
                                    <div class="modal-dialog">
                                        <!-- Modal content-->
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" ng-click="returnModal=false">
                                                    &times;
                                                </button>
                                                <h4 class="modal-title">عودت سخت‌افزار</h4>
                                            </div>
                                            <div class="modal-body">
                                                آیا برای عودت مطئنید؟
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" ng-click="returned(case.shomareAmval)"
                                                        class="btn btn-success">عودت
                                                </button>
                                                <button type="button" style="float:left" ng-click="returnModal=false"
                                                        class="btn btn-danger">بستن
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal in" ng-class="{'showModal':editModal}" role="dialog">
                                    <style>
                                        .showModal {
                                            display: block !important;
                                        }
                                    </style>
                                    <div class="modal-dialog">
                                        <!-- Modal content-->
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" ng-click="editModal=false">&times;
                                                </button>
                                                <h4 class="modal-title">اصلاح سیستم</h4>
                                            </div>
                                            <div class="modal-body">
                                                <div class="modal-footer">
                                                    <a href="#!/editSystem#<~case.shomareAmval~>">
                                                        <button type="button" style="float:right"
                                                                ng-click="editModal=false" class="btn btn-success">اصلاح
                                                        </button>
                                                    </a>
                                                    <button type="button" style="float:left" ng-click="editModal=false"
                                                            class="btn btn-danger">بستن
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal in" ng-class="{'showModal':outDateModal}" role="dialog">
                                    <style>
                                        .showModal {
                                            display: block !important;
                                        }

                                        table table {
                                            width: 100%;
                                        }

                                        table table tr, table table tr td {
                                            border: none;
                                        }

                                        table table tr td {
                                            padding-top: 2px;
                                        }

                                        table table tr {
                                            border-bottom: 1px solid #d0d0d0;
                                            height: 21px;
                                        }

                                        table table tr:last-child {
                                            border-bottom: none;
                                        }

                                        table td {
                                            border: 1px solid #1c2d3f;
                                            text-align: center;
                                        }

                                        .table-td {
                                            padding: 0 !important;
                                        }

                                    </style>
                                    <div class="modal-dialog">
                                        <!-- Modal content-->
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" ng-click="outDateModal=false">
                                                    &times;
                                                </button>
                                                <h4 class="modal-title">از رده‌خارج کردن سخت‌افزار</h4>
                                            </div>
                                            <div class="modal-body">
                                                آیا برای رده‌خارج کردن مطئنید؟
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" ng-click="outDate( case.shomareAmval )"
                                                        class="btn btn-success">رده‌خارج
                                                </button>
                                                <button type="button" ng-click="delete( case.shomareAmval )"
                                                        class="btn btn-warning">حذف
                                                </button>
                                                <button type="button" style="float:left" ng-click="outDateModal=false"
                                                        class="btn btn-danger">بستن
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>

                    نمایش تعداد
            <div class="form-group form-inline" style="display: inline-block;">
                    <select ng-model="form.row_limit" class="form-control" ng-change="filter()">
                        <option value="10">۱۰</option>
                        <option value="20">۲۰</option>
                        <option value="50">۵۰</option>
                        <option value="100">۱۰۰</option>
                    </select>
                </div>
                    مورد
                    از
            <~num_rows~>
                    <button ng-repeat="a in [] | range:pageNum" style="margin:5px;" class="btn"
                            ng-class="{'btn-primary':form.page==a+1}" ng-click="page(a+1)"><~a+1~>
                    </button>


        </div>

    </div>
    <style>
        .show-column{
    width: auto;
}
.hide-column{
    width:0;
    overflow: hidden;
}
    </style>
</div>