<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">

            <h3 class="title-5 m-b-35">گزارشات سخت افزارهای سامانه</h3>


            <div>
                <button class="au-btn au-btn-icon au-btn--green au-btn--small" ng-click="register_user_modal=true">ثبت
                    کاربر
                </button>
            </div>
            <div class="modal-dialog">
                <div class="modal in" ng-class="{'showModal':register_user_modal}" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content" ng-show="register_user_modal">
                            <div class="modal-header">
                                <button type="button" class="close" ng-click="register_user_modal=false">&times;
                                </button>
                                <h4 class="modal-title">ثبت کاربر جدید</h4>
                            </div>
                            <div class="modal-body">
                                <form name="registerForm" class="form-horizental" ng-submit="register()">
                                    <div class="row">
                                        <div class="col-12 col-md-12">
                                            <div class="row form-group"
                                                 ng-class="{'has-error':(touched) &amp;&amp; registerForm.shomareShenasaei.$invalid}">
                                                <div class="col col-md-3">
                                                    <label for="name&family" class="form-control-label">نام و نام خانوادگی</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <input id="name&family" ng-model="form.complete_name" name="username"
                                                           class="form-control"
                                                           type="text">
                                                    <small class="form-text validation-err">
                                                    </small>
                                                </div>
                                            </div>
                                            <div class="row form-group"
                                                 ng-class="{'has-error':(touched) &amp;&amp; registerForm.shomareShenasaei.$invalid}">
                                                <div class="col col-md-3">
                                                    <label for="text-input" class="form-control-label">نام
                                                        کاربری</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <input id="text-input" ng-model="form.username" name="username"
                                                           class="form-control"
                                                           type="text">
                                                    <small class="form-text validation-err">
                                                    </small>
                                                </div>
                                            </div>
                                            <div class="row form-group"
                                                 ng-class="{'has-error':(touched) &amp;&amp; registerForm.shomareShenasaei.$invalid}">
                                                <div class="col col-md-3">
                                                    <label for="password" class="form-control-label">کلمه عبور</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <input id="password" ng-model="form.password" name="password"
                                                           class="form-control"
                                                           type="password">
                                                    <small class="form-text validation-err">
                                                    </small>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="password" class="form-control-label">نقش کاربر</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <select id="role" ng-model="form.role" name="role"
                                                           class="form-control custom-select"
                                                           type="role">
                                                        <option value=""></option>
                                                        <option value="user">کاربر</option>
                                                        <option value="editor">کارشناس</option>
                                                        <option value="admin">مدیر</option>
                                                    </select>
                                                    <small class="form-text validation-err">
                                                    </small>
                                                </div>
                                            </div>
                                            <div class="row form-group" ng-show="form.role=='user'">
                                                <div class="col col-md-3">
                                                    <label for="password" class="form-control-label">یگان</label>
                                                </div>
                                            <div class="col-md-9">
                            <div class="form-group inline"
                                 ng-class="{'has-error':(registerForm.Yegan_id.$touched || touched) && registerForm.Yegan_id.$invalid}">
                                <div ng-click="yeganSelection=!yeganSelection" class="form-control yegan-div"><~
                                    selectedYegan.title||"یگان" ~>
                                </div>
                                <!-- Modal -->
                                <div id="Modal" class="modal in" ng-class="{'showModal':yeganSelection}"
                                     role="dialog">
                                    <style>
                                        .showModal {
                                            display: block !important;
                                        }
                                    </style>
                                    <div class="modal-dialog scroll">
                                        <!-- Modal content-->
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close"
                                                        ng-click="yeganSelection=false">&times;
                                                </button>
                                                <h4 class="modal-title">انتخاب یگان</h4>
                                            </div>
                                            <div class="modal-body">
                                                <treecontrol ng-show="yeganSelection"
                                                             class="tree-classic"
                                                             tree-model="yegans"
                                                             options="treeOptions"
                                                             on-selection="form.Yegan_id=selectedYegan.id;showSelected(node)"
                                                             selected-node="selectedYegan"
                                                ><~node.title~>
                                                </treecontrol>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" ng-click="yeganSelection=false"
                                                        class="btn btn-default">بستن
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" ng-click="register();register_user_modal=false;"
                                        class="btn btn-success">ثبت
                                </button>
                                <button type="button" style="float:left" ng-click="register_user_modal=false"
                                        class="btn btn-danger">بستن
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-responsive table--no-card m-b-30">
                <table class="table table-data2 table-earning dataTable">
                    <thead>
                    <tr>
                        <th>ردیف</th>
                        <th>نام کاربری</th>
                        <th>نام</th>
                        <th>نوع</th>
                        <th>یگان</th>
                        <th style="min-width: 140px;"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="spacer" ng-repeat-start="user in users"></tr>
                    <tr ng-repeat-end>
                        <td><~$index+1~></td>
                        <td><~user["0"]~></td>
                        <td><~user["4"]~></td>
                        <td><~user["1"]~></td>
                        <td><~user["3"]~></td>
                        <td style="vertical-align:middle;padding-left:35px !important;">
                            <div class="table-data-feature">

                                <button class="item" title="تغییر رمز"
                                        ng-click="changePassModal=true"><i class="zmdi icon-edit"
                                                                        style="color: #53bd46;"></i></button>
                                <button class="item" title="حذف"
                                        ng-click="deleteModal=true"><i class="zmdi icon-trash"
                                                                        style="color: #bd2130;"></i></button>
                            </div>

                            <div class="modal in" ng-class="{'showModal':changePassModal}" role="dialog">
                                <style>
                                    .showModal {
                                        display: block !important;
                                    }

                                    table table {
                                        width: 100%;
                                    }

                                    table table tr, table table tr td {
                                        border: none;
                                    }

                                    table table tr td {
                                        padding-top: 2px;
                                    }

                                    table table tr {
                                        border-bottom: 1px solid #d0d0d0;
                                    }

                                    table table tr:last-child {
                                        border-bottom: none;
                                    }

                                    table td {
                                        border: 1px solid #1c2d3f;
                                        text-align: center;
                                    }

                                    .table-td {
                                        padding: 0 !important;
                                    }

                                </style>
                                <div class="modal-dialog">
                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" ng-click="changePassModal=false">
                                                &times;
                                            </button>
                                            <h4 class="modal-title">تغییر نام کاربری</h4>
                                        </div>
                                        <div class="modal-body">
                                            <input class="form-control" ng-model="password" placeholder="کلمه عبور">
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button"
                                                    ng-click="changePass(user['0'],password)"
                                                    class="btn btn-warning">اعمال
                                            </button>
                                            <button type="button" style="float:left"
                                                    ng-click="deleteModal=false" class="btn btn-danger">بستن
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal in" ng-class="{'showModal':deleteModal}" role="dialog">
                                <style>
                                    .showModal {
                                        display: block !important;
                                    }

                                    table table {
                                        width: 100%;
                                    }

                                    table table tr, table table tr td {
                                        border: none;
                                    }

                                    table table tr td {
                                        padding-top: 2px;
                                    }

                                    table table tr {
                                        border-bottom: 1px solid #d0d0d0;
                                    }

                                    table table tr:last-child {
                                        border-bottom: none;
                                    }

                                    table td {
                                        border: 1px solid #1c2d3f;
                                        text-align: center;
                                    }

                                    .table-td {
                                        padding: 0 !important;
                                    }

                                </style>
                                <div class="modal-dialog">
                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" ng-click="deleteModal=false">
                                                &times;
                                            </button>
                                            <h4 class="modal-title">حذف کاربر</h4>
                                        </div>
                                        <div class="modal-body">
                                            آیا برای حذف کاربر مطمئنید؟
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button"
                                                    ng-click="delete(user['0'])"
                                                    class="btn btn-warning">حذف
                                            </button>
                                            <button type="button" style="float:left"
                                                    ng-click="deleteModal=false" class="btn btn-danger">بستن
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>


            <button ng-repeat="a in [] | range:pageNum" style="margin:5px;" class="btn"
                    ng-class="{'btn-primary':form.page==a+1}" ng-click="page(a+1)"><~a+1~>
            </button>

            <style>
                table td {
                    border: 1px solid #1c2d3f;
                    text-align: center;
                }
            </style>
        </div>
    </div>


</div>
</div>