<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card" >
                <div class="card-header">
                    <h3 class="box-title">ثبت یگان‌ها در سامانه</h3>
                </div>
                <div class="card-body">
                    <button type="button" class="btn btn-primary" ng-click="addYegan()">افزودن یگان</button>
                    <br/>
                    <br/>
                    <treecontrol class="tree-classic"
                                 tree-model="yegans"
                                 options="treeOptions"
                                 on-selection="showSelected(node)"
                                 menu-id="ctxMenu"
                                 on-right-click="doRightClick(node)"
                                 selected-node="selectedYegan"
                                 selected-scope="selectedSc">
                        <div ng-show="!node.editing" style="min-width: 100px;min-height: 15px;"><~node.title~></div>
                        <input focus-me="node.focus"
                               ng-esc="cancel(node)"
                               ng-enter="update(node)" type="text"
                               style="height: auto;width: auto;min-width: 0;padding: 0;border: none;"
                               ng-model="node.title" ng-show="node.editing">

                    </treecontrol>
                    <ul id="ctxMenu" class="dropdown-menu">
                        <li><a style="text-align: right"
                               ng-click="edit(selectedYegan);selectedYegan.prevTitle = selectedYegan.title"
                               ng-class="isLeaf() ? '' : 'disabled'">اصلاح</a></li>
                        <li><a style="text-align: right" ng-click="wantDelete=selectedYegan.id;deleteModal=true"
                               ng-class="isLeaf() ? '' : 'disabled'">حذف</a></li>
                        <li><a style="text-align: right"
                               ng-click="selectedSc.openTree()||addChildren(selectedYegan)"
                               ng-class="isLeaf() ? '' : 'disabled'">افزودن زیرمجموعه</a></li>
                    </ul>
                    <div class="modal in" ng-class="{'showModal':deleteModal}" role="dialog">
                        <style>
                            .showModal {
                                display: block !important;
                            }
                            treecontrol.tree-classic li .tree-selected {
                                font-weight: normal;
                                background-color: rgba(100,100,100,.05);
                                border-radius: 3px;
                            }
                        </style>
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" ng-click="deleteModal=false">&times;</button>
                                    <h4 class="modal-title">حذف یگان</h4>
                                </div>
                                <div class="modal-body">
                                    آیا برای حذف مطئنید؟
                                </div>
                                <div class="modal-footer">
                                    <button type="button" ng-click="delete(wantDelete);deleteModal=false;"
                                            class="btn btn-success">حذف
                                    </button>
                                    <button type="button" style="float:left" ng-click="deleteModal=false"
                                            class="btn btn-danger">بستن
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>