<html>
<head>
    <title>سامانه ثبت سیستم</title>
    <meta charset="UTF-8"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700" rel="stylesheet">
    <script type="text/javascript" src="files/angular.min.js"></script>
    <link rel="stylesheet" href="files/bootstrap.min.css">
    <link rel="stylesheet" href="files/style.css">
    <script src="files/angular-inform.min.js"></script>
    <link rel="stylesheet" href="files/angular-inform.min.css"/>
    <script type="text/javascript" src="files/angular-tree-control.js"></script>

    <!-- Include context-menu module if you're going to use menu-id attribute -->
    <script type="text/javascript" src="files/context-menu.js"></script>

    <!-- link for CSS when using the tree as a Dom element -->
    <link rel="stylesheet" type="text/css" href="files/tree-control.css">

    <!-- link for CSS when using the tree as an attribute -->
    <link rel="stylesheet" type="text/css" href="files/tree-control-attribute.css">

    <style>
        body {
            direction: rtl;
        }
        body{
            font-family: Arial, Helvetica, sans-serif;
        }
        .tab{
            padding: 15px;
        }
        .content.tab{
            padding:10px 0 0 0 !important;
        }
        .custom-select {
            display: inline-block;
            max-width: 100%;
            padding: .375rem 1.75rem .375rem .75rem;
            color: #464a4c;
            vertical-align: middle;
            background: #fff url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23333' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat left .75rem center;
            background-size: auto auto;
            -webkit-background-size: 8px 10px;
            background-size: 8px 10px;
            border: 1px solid rgba(0,0,0,.15);
            border-radius: .25rem;
            -moz-appearance: none;
            -webkit-appearance: none;
        }
    </style>
</head>
<body ng-app="app">
<div inform class="inform-fixed"></div>
<div class="wrapper">
    <div class="content-wrapper">
        <section class="content tab"  ng-controller="TabController as tab">

                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-info" >
                            <div class="card-header">
                                <h3 class="box-title">ثبت سیستم در سامانه</h3>
                            </div>
                            <div class="card-body">
                                <form ng-controller="registerCtrl" name="registerForm" ng-submit="submit(registerForm,$valid)" novalidate>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>

        </section>
    </div>
</div>


<script>
    app = angular.module('app', ['inform', "treeControl" ]).config(function ($interpolateProvider) {
        $interpolateProvider.startSymbol('<~').endSymbol('~>');
    });
    yegansTree = {{!yegans}};
    let yegans = [];
    function yeganGen(yegansTree){
        yegans = [];

        Object.keys(yegansTree).forEach(function(i) {
            if (yegansTree[i].ParentYegan_id === null) {
                yegansTree[i].index = yegans.length;
                yegans.push(yegansTree[i]);
            } else {
                let keey = [];
                let parentNode = yegansTree[yegansTree[i].ParentYegan_id];
                let thisNode = yegansTree[i];

                if (parentNode.rr !== undefined) {
                    keey = parentNode.rr;
                }

                /********************** Parent branch In result Finding ******************/
                let parent = yegans;
                let j = 0;
                for (; j < keey.length; j++) {
                    if(parent.id===undefined)
                        parent = parent[keey[j]];
                    else
                        parent = parent.children[keey[j]];
                }
                if(parent.id===undefined)
                    parent = parent[yegansTree[thisNode.ParentYegan_id].index];
                else
                    parent = parent.children[yegansTree[thisNode.ParentYegan_id].index];
                /**************************************************************************/

                if (parent.children === undefined) {
                    parent.children = [];
                }


                keey.push(parent.index);
                yegansTree[i].rr = keey;
                yegansTree[i].index = parent.children.length;
                parent.children.push(yegansTree[i])

            }
        });
    }
    yeganGen(yegansTree);

    app.controller("registerTarifCtrl", function ($scope, $http,inform,Scopes) {
        Scopes.store('registerTarifCtrl', $scope);

        $scope.yegans = yegans;
        $scope.$watch("selectedYegan",function () {
            if($scope.selectedYegan)
                $scope.form.ParentYegan_id = String($scope.selectedYegan.id);
            else{
                if(!$scope.form)
                    $scope.form = {};
                delete $scope.form.ParentYegan_id;
            }
        });
        $scope.submit = function (registerForm) {

            $http.post("register/Yegan", $scope.form).then(function ($resp) {
                if($resp.status===200) {
                    if ($resp.data.id < 0) {
                        inform.add($resp.data.message, {ttl: 3000, type: "warning"});
                    } else {
                        inform.add($resp.data.message, {ttl: 3000, type: "success"});
                        $http.post("getAll/Yegan", $scope.form).then(function ($resp) {
                            if($resp.status===200) {
                                yegansTree = $resp.data;
                                yeganGen(yegansTree);
                                $scope.yegans = yegans;
                                Scopes.get('registerCtrl').yegans = yegans;
                            }else{
                                inform.add("اشکالی در اتصال به سرور پیش آمد.", {ttl: 3000, type: "error"});
                            }
                        });
                    }
                }else{
                    inform.add("اشکالی در اتصال به سرور پیش آمد.", {ttl: 3000, type: "error"});
                }
            });

        };

        $scope.delete = function (id) {
            $http.post("delete/Yegan", {id:id}).then(function ($resp){
                if($resp.status===200) {
                    if ($resp.data.id < 0) {
                        inform.add($resp.data.message, {ttl: 3000, type: "warning"});
                    } else {
                        inform.add($resp.data.message, {ttl: 3000, type: "success"});
                        $http.post("getAll/Yegan", $scope.form).then(function ($resp) {
                            if($resp.status===200) {
                                yegansTree = $resp.data;
                                yeganGen(yegansTree);
                                $scope.yegans = yegans;
                                Scopes.get('registerCtrl').yegans = yegans;
                            }else{
                                inform.add("اشکالی در اتصال به سرور پیش آمد.", {ttl: 3000, type: "error"});
                            }
                        });
                    }
                }else{
                    inform.add("اشکالی در اتصال به سرور پیش آمد.", {ttl: 3000, type: "error"});
                }
            });
        }
    });
    app.controller("registerCtrl", function ($scope, $http,inform,Scopes) {
        Scopes.store('registerCtrl', $scope);

        $scope.treeOptions = {
            nodeChildren: "children",
            dirSelectable: true,
            injectClasses: {
                ul: "a1",
                li: "a2",
                liSelected: "a7",
                iExpanded: "a3",
                iCollapsed: "a4",
                iLeaf: "a5",
                label: "a6",
                labelSelected: "a8"
            }
        };


        $scope.$watch("selectedYegan",function () {
            if($scope.selectedYegan)
                $scope.form.Yegan_id = String($scope.selectedYegan.id);
            else
                delete $scope.form.Yegan_id;
        });
        $scope.yegans = yegans;
        $scope.caseTypes = {{!CaseTypes}};
        $scope.monitorTypes = {{!MonitorTypes}};
        $scope.oss = {{!oss}};
        $scope.cpus = {{!cpus}};
        $scope.rams = {{!rams}};
        $scope.harddisks = {{!harddisks}};
        $scope.form = {};
        $scope.showSelected = function(selectedYegan){
            $scope.selectedYegan = selectedYegan;
            $scope.form.Yegan_id = String(selectedYegan.id);
        };


        $scope.submit = function (registerForm) {
            $scope.touched = true;
            if (registerForm.$valid) {
                if (!$scope.form.in_naja && !$scope.form.out_naja) {
                    inform.add("وضعیت شبکه مشخص نشده.", {ttl: 3000, type: "warning"});
                } else {

                    $http.post("register/case", $scope.form).then(function ($resp) {
                        if($resp.status===200) {
                            if ($resp.data.id < 0) {
                                inform.add($resp.data.message, {ttl: 3000, type: "warning"});
                            } else {
                                inform.add($resp.data.message, {ttl: 3000, type: "success"});
                            }
                        }else{
                            inform.add("اشکالی در اتصال به سرور پیش آمد.", {ttl: 3000, type: "error"});
                        }
                    })
                }
            } else {
                inform.add("فیلدهای مشخص شده باید تکمیل شوند", {ttl: 3000, type: "warning"});
            }

        };

    });
    app.controller('TabController', function () {
        this.tab = 1;

        this.setTab = function (tabId) {
            this.tab = tabId;
        };

        this.isSet = function (tabId) {
            return this.tab === tabId;
        };
    });
    app.factory('Scopes', function ($rootScope) {
        var mem = {};

        return {
            store: function (key, value) {
                mem[key] = value;
            },
            get: function (key) {
                return mem[key];
            }
        };
    });
</script>
<style>
    .form-group {
        margin-bottom: 25px;
    }
    .form-group span{
        position: absolute;
        font-size: 12px;
        padding-right: 10px;
        color: #dd4b39;
    }
    .form-group span{
        display: none;
    }
    .form-group.has-error  span{
        display: block;
    }
    *:not("input"){
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }


    .form-group input{
    }
    .inform-message-content > span.badge {
        margin-right: -15px;
        margin-top: 2px;
    }

    .inform-message-content > span:last-child {
        position: absolute;
        right: 50px;
    }







    div[data-angular-treeview] {
        /* prevent user selection */
        -moz-user-select: -moz-none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;

        /* default */
        font-family: Tahoma;
        font-size:13px;
        color: #555;
        text-decoration: none;
    }

    div[data-tree-model] ul {
        margin: 0;
        padding: 0;
        list-style: none;
        border: none;
        overflow: hidden;
    }

    div[data-tree-model] li {
        position: relative;
        padding: 0 0 0 20px;
        line-height: 20px;
    }

    div[data-tree-model] li .expanded {
        padding: 1px 10px;
        background-image: url("http://cfile23.uf.tistory.com/image/205B973A50C13F4B19D9BD");
        background-repeat: no-repeat;
    }

    div[data-tree-model] li .collapsed {
        padding: 1px 10px;
        background-image: url("http://cfile23.uf.tistory.com/image/1459193A50C13F4B1B05FB");
        background-repeat: no-repeat;
    }

    div[data-tree-model] li .normal {
        padding: 1px 10px;
        background-image: url("http://cfile23.uf.tistory.com/image/165B663A50C13F4B196CCA");
        background-repeat: no-repeat;
    }

    div[data-tree-model] li i, div[data-tree-model] li span {
        cursor: pointer;
    }

    div[data-tree-model] li .selected {
        background-color: #aaddff;
        font-weight: bold;
        padding: 1px 5px;
    }

</style>
</body>
</html>