<html>
<head>
    <title>سامانه مدیریت سخت افزارهای فاوا</title>
    <meta charset="UTF-8"/>
    <link href="files/roboto.css" rel="stylesheet">
    <script type="text/javascript" src="files/angular.min.js"></script>
    <script type="text/javascript" src="files/angular-route.min.js"></script>
    <link rel="stylesheet" href="files/bootstrap.min.css">
    <link rel="stylesheet" href="files/style.css">
    <script src="files/angular-inform.min.js"></script>
    <link rel="stylesheet" href="files/angular-inform.min.css"/>
    <script type="text/javascript" src="files/angular-tree-control.js"></script>
    <script type="text/javascript" src="files/context-menu.js"></script>
    <link rel="stylesheet" type="text/css" href="files/tree-control.css">
    <link rel="stylesheet" type="text/css" href="files/tree-control-attribute.css">
    <script type="text/javascript" src="files/ngIpAddress.min.js"></script>
    <script type="text/javascript" src="files/ng-sortable.js"></script>
    <link rel="stylesheet" href="files/ng-sortable.css"/>
    <link rel="stylesheet" href="files/ADM-dateTimePicker.min.css"/>
    <script type="text/javascript" src="files/ADMdateTimePicker.min.js"></script>

    <style>
        body {
            direction: rtl;
        }
        body{
            font-family: Arial, Helvetica, sans-serif;
        }
        .tab{
            padding: 15px;
        }
        .content.tab{
            padding:10px 0 0 0 !important;
        }
        .custom-select {
            display: inline-block;
            max-width: 100%;
            padding: .375rem 1.75rem .375rem .75rem;
            color: #464a4c;
            vertical-align: middle;
            background: #fff url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23333' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat left .75rem center;
            background-size: auto auto;
            -webkit-background-size: 8px 10px;
            background-size: 8px 10px;
            border: 1px solid rgba(0,0,0,.15);
            border-radius: .25rem;
            -moz-appearance: none;
            -webkit-appearance: none;
        }
        body{
            overflow:hidden;
        }
    </style>
</head>
<body  ng-app="app" class="animsition" style="animation-duration: 600ms; opacity: 1;" dir="rtl">
<div inform class="inform-fixed"></div>
<div class="page-wrapper" >
    <aside class="menu-sidebar d-none d-lg-block">

            <div class="logo">
                <div class="pull-right image"><div style="color:#fefefe;font-size: 50px;" class="icon-user-circle"></div></div>
            </div>

        <div class="menu-sidebar__content js-scrollbar1 ps ps--active-y">
            <nav class="navbar-sidebar">
                <ul class="list-unstyled navbar__list" >

                <li class="treeview"><a><i class="far fa-check-square icon-dashboard1" style="font-size: 18px;"></i> <span>داشبورد</span> </a></li>

                    <li route="/registerSystem"><a href="/#!/registerSystem"><i class="far fa-check-square icon-laptop2"></i> <span>ثبت سیستم</span></a></li>

                    <li route="/reportSystem"><a href="/#!/reportSystem"><i class="far fa-check-square icon-menu"></i> <span>گزارش سیستم</span> </a></li>
                <li route="/reportHardware"><a href="/#!/reportHardware"><i class="far fa-check-square icon-menu"></i> <span>گزارش سخت‌افزارها</span> </a></li>

                    <li route="/registerMonitor"><a href="/#!/registerMonitor"><i class="far fa-check-square icon-screen"></i> <span>ثبت مانیتور</span> </a></li>
                    <li route="/registerMonitor"><a href="/#!/registerHardware"><i class="far fa-check-square icon-printer"></i> <span>ثبت سخت‌افزار</span> </a></li>
                %if current_user.role=="admin" or current_user.role=="editor":
                    <li route="/reportRepair"><a href="/#!/reportRepair"><i class="far fa-check-square icon-menu"></i> <span>گزارش تعمیرات</span> </a></li>
                    <li route="/registerRepair"><a href="/#!/registerRepair"><i class="far fa-check-square icon-wrench"></i> <span>ثبت تعمیرات</span> </a></li>
                    <li class="treeview"><a href="#" ng-click="taarifMenu=!taarifMenu"><i class="far fa-check-square icon-cog"></i><span >تعاریف</span></a>
                    <style>
                        .treeview-menu{
                            display: block !important;
                            max-height:0;
                            overflow:hidden;
                            transition: max-height .1s ease-out;
                        }
                        .expanded{
                            max-height:300px;
                            display: block !important;
                        }
                        .sidebar-menu [class^="icon-"],.sidebar-menu [class*=" icon-"]{
                            font-size: 16px;
                        }

                    </style>
                    <ul style="padding-right: 23px" class="treeview-menu" ng-class="{expanded:taarifMenu}">
                        <li style="list-style: none" route="/yegans"><a href="/#!/yegans"><i class="fa icon-books"></i>یگان‌ها</a></li>
                        <li style="list-style: none" route="/hardwares"><a  href="/#!/hardwares"><i class="fa icon-hdd"></i>سخت افزارها</a></li>
                    </ul>
                </li>
                    
                %end
                %if current_user.role=="admin":
                    <li route="/userManagement"><a href="/#!/userManagement"><i class="far fa-check-square icon-printer"></i> <span>مدیریت کاربران</span> </a></li>
                %end

            </ul>
            </nav>
        </div>
    </aside>
    <div class="page-container" >
        <header class="header-desktop">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    <div class="header-wrap">
                        <form class="form-header" action="" method="POST">
                            <input class="au-input au-input--xl" name="search"
                                   placeholder="جستجو..." type="text">
                            <button class="au-btn--submit" type="submit">
                                <i class="zmdi zmdi-search"></i>
                            </button>
                        </form>

                        <div class="header-button">

                            <style>
                                            .account-wrap:hover .js-dropdown{
                                                transform:scale(1);
                                            }
                                        </style>
                            <div class="account-wrap">
                                <div class="account-item clearfix js-item-menu">
                                    <div class="image">
                                        <div style="color:#fefefe;font-size: 45px;" class="icon-user-circle"></div>
                                    </div>
                                    <div class="content">
                                        <a class="icon-chevron-down" href="#">{{current_user.description}}</a>
                                    </div>
                                    <div class="account-dropdown js-dropdown">
                                        <div class="info clearfix">
                                            <div class="image">
                                                <a href="#" class="icon-user-circle" style="width: 100%;font-size:64px;">
                                                    <!--<img  alt="{{current_user.description}}"></img>-->
                                                </a>
                                            </div>
                                            <div class="content">
                                                <h5 class="name">
                                                    <a href="#">{{current_user.description}}</a>
                                                </h5>
                                                <span class="email">{{current_user.email_addr}}</span>
                                            </div>
                                        </div>
                                        <div class="account-dropdown__body">
                                            <div class="account-dropdown__item">
                                                <a href="/#!/account">
                                                    <i class="zmdi zmdi-account"></i>حساب کاربری</a>
                                            </div>
                                        </div>
                                        <div class="account-dropdown__footer">
                                            <a href="/logout">
                                                <i class="zmdi zmdi-power"></i>خروج</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="main-content">
            <div style="overflow: auto;height: 100%;padding-top: 30px;" ng-view class="section__content section__content--p30" ></div>
        </div>
    </div>
</div>


<script>
    app = angular.module('app', ['inform', "treeControl" ,"ngRoute",'ng-ip-address','as.sortable','ADM-dateTimePicker']).config(function ($interpolateProvider) {
        $interpolateProvider.startSymbol('<~').endSymbol('~>');
    });
    yegansTree = {{!yegans}};
    let yegans = [];

    app.filter('range', function() {
  return function(input, total) {
    total = parseInt(total);

    for (var i=0; i<total; i++) {
      input.push(i);
    }

    return input;
  };
});

    function yeganGen(yegansTree){
        yegans = [];

        for(var i in yegansTree){
            if (yegansTree[i].ParentYegan_id === null) {
                yegansTree[i].index = yegans.length;
                yegans.push(yegansTree[i]);
            } else {

                let thisNode = yegansTree[i];
                let parentNode = yegansTree[yegansTree[i].ParentYegan_id];

                let keey = [];
                if (parentNode.rr !== undefined) {
                    for(let i=0;i<parentNode.rr.length;i++){
                        keey[i] = parentNode.rr[i];
                    }
                }

                /********************** Parent branch In result Finding ******************/
                let parent = yegans;
                let j = 0;
                for (; j < keey.length; j++) {
                    if(parent.id===undefined)
                        parent = parent[keey[j]];
                    else
                        parent = parent.children[keey[j]];
                }
                if(parent.id === undefined)
                    parent = parent[yegansTree[thisNode.ParentYegan_id].index];
                else
                    parent = parent.children[yegansTree[thisNode.ParentYegan_id].index];
                /**************************************************************************/

                if (parent!== undefined && parent.children === undefined) {
                    parent.children = [];
                }



                thisNode.rr = keey;
                thisNode.rr.push(parent.index);
                thisNode.index = parent.children.length;
                parent.children.push(thisNode)

            }
        }
    }
    yeganGen(yegansTree);

    app.controller("yegans", function ($scope, $http,inform,Scopes) {
        Scopes.store('yegans', $scope);

        $scope.yegans = yegans;
        $scope.$watch("selectedYegan",function () {
            if($scope.selectedYegan) {
                $scope.form.ParentYegan_id = String($scope.selectedYegan.id);
            }else{
                if(!$scope.form)
                    $scope.form = {};
                delete $scope.form.ParentYegan_id;
            }
        });
        $scope.submit = function (registerForm) {
            $scope.touched = true;
            if (registerForm.$valid) {
                $http.post("register/Yegan", $scope.form).then(function ($resp) {
                    if ($resp.status === 200) {
                        if ($resp.data.id < 0) {
                            inform.add($resp.data.message, {ttl: 3000, type: "warning"});
                        } else {
                            $scope.form = {};
                            inform.add($resp.data.message, {ttl: 3000, type: "success"});
                            $http.post("getAll/Yegan", $scope.form).then(function ($resp) {
                                if ($resp.status === 200) {
                                    yegansTree = $resp.data;
                                    yeganGen(yegansTree);
                                    $scope.yegans = yegans;
                                    Scopes.get('registerSystem').yegans = yegans;
                                    Scopes.get('yegans').yegans = yegans;
                                } else {
                                    inform.add("اشکالی در اتصال به سرور پیش آمد.", {ttl: 3000, type: "error"});
                                }
                            });
                        }
                    } else {
                        inform.add("اشکالی در اتصال به سرور پیش آمد.", {ttl: 3000, type: "error"});
                    }
                });
            }else{
                inform.add("فیلدهای مشخص شده باید تکمیل شوند", {ttl: 3000, type: "warning"});
            }
        };
        $scope.edit = function(yegan){
            yegan.focus = true;
            yegan.editing = true;
            console.log(yegan);
        };
        $scope.update = function(node){
            if(node.id){
               $http.post("update/Yegan",{id:node.id,title:node.title}).then(function ($resp) {
                    if($resp.status===200) {
                        inform.add($resp.data.message, {ttl: 3000, type: $resp.data.status});
                        if($resp.data.status==="success"){
                            node.editing = false;
                        }
                    }else{
                        inform.add("اشکالی در اتصال به سرور پیش آمد.", {ttl: 3000, type: "error"});
                    }
                });
            }else{
                node.priority = node.index;
                $http.post("register/Yegan",node).then(function ($resp) {
                    if($resp.status===200){
                        inform.add($resp.data.message, {ttl: 3000, type: $resp.data.status});
                        if($resp.data.status==="success"){
                            node.editing = false;
                            console.log(node);
                            node.id = $resp.data.regId;
                            let parent;
                            if(node.rr.length>0){
                                parent = $scope.yegans;
                                for(let i= 0;i<node.rr.length;i++){
                                    if(i>0) {
                                        parent = parent.children[node.rr[i]];
                                    }else {
                                        parent = parent[node.rr[i]];
                                    }
                                    //console.log(parent);
                                }
                                $scope.addChildren(parent);
                            }else{
                                $scope.addYegan();
                            }
                            console.log(parent);

                        }
                    }else{
                        inform.add("اشکالی در اتصال به سرور پیش آمد.", {ttl: 3000, type: "error"});
                    }
                })
            }

        };
        $scope.cancel = function (node) {
            node.title = node.prevTitle;
            node.editing = false;
            node.focus=false;
            $http.post("getAll/Yegan", $scope.form).then(function ($resp) {
                if($resp.status===200) {
                    yegansTree = $resp.data;
                    yeganGen(yegansTree);
                    $scope.yegans = yegans;
                }else{
                    inform.add("اشکالی در اتصال به سرور پیش آمد.", {ttl: 3000, type: "error"});
                }
            });
            /*if(node.rr.length>0){
                let parent = $scope.yegans;
                for(let i= 0;i<node.rr.length;i++){
                    if(i>0) {
                        parent = parent.children[node.rr[i]];
                    }else {
                        parent = parent[node.rr[i]];
                    }
                    //console.log(parent);
                }
                delete yegans[node.index];
            }else{
                delete $scope.yegans[node.index];
            }*/

        };
        $scope.addYegan = function(){
            $scope.yegans.push({ParentYegan_id:null,index:$scope.yegans.length,title:"",editing:true,focus:true,rr:{},r:1})
        };
        $scope.addChildren = function(node){
            let r = [];
            if(node.rr !== undefined)
                for(let i=0;i<node.rr.length;i++){
                    r[i] = node.rr[i];
                }
            r.push(node.index);
            if(!node.children){
                node.children = [];
            }
            node.children.push({ParentYegan_id:node.id,index:node.children.length,title:"",editing:true,focus:true,rr:r,r:node.r + 1})
        };
        $scope.delete = function (id) {
            $http.post("delete/Yegan", {id:id}).then(function ($resp){
                if($resp.status===200) {
                    if ($resp.data.id < 0) {
                        inform.add($resp.data.message, {ttl: 3000, type: "warning"});
                    } else {
                        inform.add($resp.data.message, {ttl: 3000, type: "success"});
                        $http.post("getAll/Yegan", $scope.form).then(function ($resp) {
                            if($resp.status===200) {
                                yegansTree = $resp.data;
                                yeganGen(yegansTree);
                                $scope.yegans = yegans;
                                //Scopes.get('registerSystem').yegans = yegans;
                                //Scopes.get('yegans').yegans = yegans;

                            }else{
                                inform.add("اشکالی در اتصال به سرور پیش آمد.", {ttl: 3000, type: "error"});
                            }
                        });
                    }
                }else{
                    inform.add("اشکالی در اتصال به سرور پیش آمد.", {ttl: 3000, type: "error"});
                }
            });
        }
    });
    app.controller("hardwares", function ($scope, $http,inform,Scopes) {
        $scope.register = function (type,t=null) {

            if(t!==null){
                $scope[type].type = t;
                $scope[type].priority = $scope[type+t+"S"].length+1+"";
            }else{
                $scope[type].priority = $scope[type+"S"].length+1+"";
            }
            $http.post("register/"+type, $scope[type]).then(function ($resp) {
                if($resp.status===200) {
                    if ($resp.data.id < 0) {
                        inform.add($resp.data.message, {ttl: 3000, type: "warning"});
                    } else {
                        $scope.getAll(type,t);
                        $scope[type] = {};
                        inform.add($resp.data.message, {ttl: 3000, type: "success"});
                    }
                }else{
                    inform.add("اشکالی در اتصال به سرور پیش آمد.", {ttl: 3000, type: "error"});
                }
            });
        };
        $scope.delete = function (type,id,t=null) {
            $http.post("delete/"+type, {id:id}).then(function ($resp){
                if($resp.status===200) {
                    if ($resp.data.id < 0) {
                        inform.add($resp.data.message, {ttl: 3000, type: "warning"});
                    } else {
                        $scope.getAll(type,t);
                        inform.add($resp.data.message, {ttl: 3000, type: "success"});
                    }
                }else{
                    inform.add("اشکالی در اتصال به سرور پیش آمد.", {ttl: 3000, type: "error"});
                }
            });
        };
        $scope.getAll = function (type,t=null) {
            p = {};
            if(t!=null){
                p.type = t;
            }
            $http.post("getAllSorted/"+type,p).then(function ($resp) {
                console.log($resp.data);
                if(t!=null)
                    $scope[type+t+"S"] = [];
                else
                    $scope[type+"S"] = [];
                for(i=0;i< $resp.data.length;i++){
                    if(t!=null)
                        $scope[type+t+"S"][i] ={ "id":$resp.data[i][0],"title":$resp.data[i][1],"order":$resp.data[i][2]};
                    else
                        $scope[type+"S"][i] ={ "id":$resp.data[i][0],"title":$resp.data[i][1],"order":$resp.data[i][2]};

                }
                console.log($scope);

            })
        };
        $scope.update = function (type,t) {
            let p = {};
            if(t!==null){
                p = $scope[type+t+"S"]
            }else{
                p = $scope[type+"S"]
            }
            $http.post("updateSorts/"+type,p).then(function ($resp) {
                inform.add($resp.data.message, {ttl: 3000, type: $resp.data.status});
            })
        }
    });
    app.controller("reportSystem", function ($scope, $http,inform) {
        $scope.dataForTheTree = {{!yegans}};
        $scope.treeOptions = {
            nodeChildren: "children",
            dirSelectable: true,
            injectClasses: {
                ul: "a1",
                li: "a2",
                liSelected: "a7",
                iExpanded: "a3",
                iCollapsed: "a4",
                iLeaf: "a5",
                label: "a6",
                labelSelected: "a8"
            }
        };
        $scope.form = {};
        $scope.form.filter = {};
        $scope.form.filter['Hardware`.`status'] = "1";
        $scope.yegans = {{!yegans}};
        $scope.caseTypes = {{!CaseTypes}};
        $scope.monitorTypes = {{!MonitorTypes}};
        $scope.oss = {{!oss}};//[{id:4,title:"Win10"},{id:3,title:"Win8"},{id:2,title:"Win7"},{id:1,title:"XP"}];
        $scope.cpus = {{!cpus}};
        $scope.rams = {{!rams}};// [{id:4,title:"8GB"},{id:4,title:"4GB"},{id:3,title:"3GB"},{id:2,title:"2GB"},{id:1,title:"1GB"}];
        $scope.harddisks = {{!harddisks}};
        $scope.mainboards = {{!mainboards}};
        /*$scope.yegansTree = $scope.yegans;
        $scope.resultTree = [];
        Object.keys($scope.yegansTree).forEach(function(i) {
            if ($scope.yegansTree[i].ParentYegan_id === null) {
                $scope.yegansTree[i].index = $scope.resultTree.length;
                $scope.resultTree.push($scope.yegansTree[i]);
            } else {
                let keey = [];
                let parentNode = $scope.yegansTree[$scope.yegansTree[i].ParentYegan_id];
                let thisNode = $scope.yegansTree[i];

                if (parentNode.rr !== undefined) {
                    keey = parentNode.rr;
                }

                /********************** Parent branch In result Finding *****************
                let parent = $scope.resultTree;
                let j = 0;
                for (; j < keey.length; j++) {
                    if(parent.id===undefined)
                        parent = parent[keey[j]];
                    else
                        parent = parent.children[keey[j]];
                }
                if(parent.id===undefined)
                    parent = parent[$scope.yegansTree[thisNode.ParentYegan_id].index];
                else
                    parent = parent.children[$scope.yegansTree[thisNode.ParentYegan_id].index];
                /*************************************************************************

                if (parent.children === undefined) {
                    parent.children = [];
                }


                keey.push(parent.index);
                $scope.yegansTree[i].rr = keey;
                $scope.yegansTree[i].index = parent.children.length;
                parent.children.push($scope.yegansTree[i])

            }
            /*if($scope.yegansTree[i][3]===0)
                $scope.resultTree.push($scope.yegansTree[i])
        });
        */
        $scope.yegans = yegans;
        $scope.form.row_limit = "10";


        $scope.showSelected = function(selectedYegan){
            $scope.selectedYegan = selectedYegan;
            $scope.form.filter.Yegan_id = String(selectedYegan.id);
        };
        $scope.$watch("form.filter",function () {
            $scope.reload();
        });
        $scope.$watch("selectedYegan",function () {

            if($scope.selectedYegan)
                $scope.form.filter.Yegan_id = String($scope.selectedYegan.id);
            else
                delete $scope.form.filter.Yegan_id;
            $scope.reload();
        });


        $scope.page = function($page){
            $scope.form.page = $page;
            $scope.reload();
        };

        $scope.filter = function(){
            $scope.form.page = 1;
            $scope.reload();
        };

        $scope.form.page = 1;
        $scope.reload = function () {
            if($scope.form.filter.inNaja!==undefined && !$scope.form.filter.inNaja){
                delete  $scope.form.filter.inNaja;
            }
            if($scope.form.filter.internet!==undefined && !$scope.form.filter.internet){
                delete  $scope.form.filter.internet;
            }
            if($scope.form.filter["Case`.`shomareShenasaei"]!==undefined && $scope.form.filter["Case`.`shomareShenasaei"].length<1){
                delete  $scope.form.filter["Case`.`shomareShenasaei"];
            }
            if($scope.form.filter["Case`.`shomareAmval"]!==undefined && $scope.form.filter["Case`.`shomareAmval"].length<1){
                delete  $scope.form.filter["Case`.`shomareAmval"];
            }
            if($scope.form.filter["Case`.`ip"]!==undefined && $scope.form.filter["Case`.`ip"].length<1){
                delete  $scope.form.filter["Case`.`ip"];
            }
            $http.post("getAll/Case", $scope.form).then(function ($resp) {
                if($resp.status===200) {
                    $scope.cases = $resp.data.rows;
                    $scope.num_rows = $resp.data.num_rows;
                    $scope.num = $resp.data.rows.length;
                    $scope.pageNum = Math.ceil($scope.num_rows / $scope.form.row_limit);

                }else{
                    inform.add("اشکالی در اتصال به سرور پیش آمد.", {ttl: 3000, type: "error"});
                }
            })
        };
        $scope.returned = function($id){
            $http.post("return/Hardware",{id:$id}).then(function ($resp) {
                if($resp.status===200) {
                    inform.add($resp.data.message, {ttl: 3000, type: $resp.data.status});
                    $scope.$$childTail.returnModal = false;
                    $scope.reload();
                }else{
                    inform.add("خطا در برقراری ارتباط با سرور", {ttl: 3000, type: "error"});
                }
            });
        };
        $scope.outDate = function($id){
            $http.post("outDate/Hardware",{id:$id}).then(function ($resp) {
                if($resp.status===200) {
                    inform.add($resp.data.message, {ttl: 3000, type: $resp.data.status});
                    $scope.$$childTail.outDateModal = false;
                    $scope.reload();
                }else{
                    inform.add("خطا در برقراری ارتباط با سرور", {ttl: 3000, type: "error"});
                }
            });
        };
        $scope.delete = function($shomareAmval){
            $http.post("delete/Hardware",{shomareAmval:$shomareAmval,type:"1"}).then(function ($resp) {
                if($resp.status===200) {
                    inform.add($resp.data.message, {ttl: 3000, type: $resp.data.status});
                    $scope.$$childTail.returnModal = false;
                    $scope.reload();
                }else{
                    inform.add("خطا در برقراری ارتباط با سرور", {ttl: 3000, type: "error"});
                }
            });
        };
        $scope.reload();
    });
    app.controller("reportHardware", function ($scope, $http,inform) {
        $scope.form = {};
        $scope.form.row_limit = "10";
        $scope.form.page = 1;
        $scope.dataForTheTree = {{!yegans}};

        $scope.treeOptions = {
            nodeChildren: "children",
            dirSelectable: true,
            injectClasses: {
                ul: "a1",
                li: "a2",
                liSelected: "a7",
                iExpanded: "a3",
                iCollapsed: "a4",
                iLeaf: "a5",
                label: "a6",
                labelSelected: "a8"
            }
        };

        $scope.form.filter = {};
        $scope.yegans = yegans;//{{!yegans}};
        $scope.caseTypes = {{!CaseTypes}};
        $scope.monitorTypes = {{!MonitorTypes}};
        $scope.oss = {{!oss}};//[{id:4,title:"Win10"},{id:3,title:"Win8"},{id:2,title:"Win7"},{id:1,title:"XP"}];
        $scope.cpus = {{!cpus}};
        $scope.rams = {{!rams}};// [{id:4,title:"8GB"},{id:4,title:"4GB"},{id:3,title:"3GB"},{id:2,title:"2GB"},{id:1,title:"1GB"}];
        $scope.harddisks = {{!harddisks}};
        $scope.mainboards = {{!mainboards}};

        $scope.showSelected = function(selectedYegan){
            $scope.selectedYegan = selectedYegan;
            $scope.form.filter.Yegan_id = String(selectedYegan.id);
        };
        $scope.$watch("form.filter",function () {
            $scope.reload();
        });
        $scope.$watch("selectedYegan",function () {

            if($scope.selectedYegan)
                $scope.form.filter.Yegan_id = String($scope.selectedYegan.id);
            else
                delete $scope.form.filter.Yegan_id;
            $scope.reload();
        });
        $scope.reload = function () {
            if($scope.form.filter.shomareAmval !== undefined && !$scope.form.filter.shomareAmval){
                delete  $scope.form.filter.shomareAmval;
            }
            $http.post("getAll/Hardware", $scope.form).then(function ($resp) {
                if($resp.status===200) {
                    $scope.cases = $resp.data.rows;
                    $scope.cases.forEach(function ($v,$k) {
                        switch ($scope.cases[$k][2]) {
                            case 1:
                                $scope.cases[$k][2] = "کیس";
                                break;
                            case 2:
                                $scope.cases[$k][2] = "مانیتور";
                                break;
                            case 3:
                                $scope.cases[$k][2] = "پرینتر";
                                break;
                            case 4:
                                $scope.cases[$k][2] = "اسکنر";
                                break;

                        }

                        switch ($scope.cases[$k].Hardware_status) {
                            case 1:$scope.cases[$k].Hardware_status_title ="دریگان";
                            break;
                            case 2:$scope.cases[$k].Hardware_status_title ="عودت";
                            break;
                            case 3:$scope.cases[$k].Hardware_status_title ="رده‌خارج";
                        }

                    });
                    $scope.num_rows = $resp.data.num_rows;
                    $scope.num = $resp.data.rows.length;
                    $scope.pageNum = Math.ceil($scope.num_rows / $scope.form.row_limit);


                }else{
                    inform.add("اشکالی در اتصال به سرور پیش آمد.", {ttl: 3000, type: "error"});
                }
            })
        };
        $scope.page = function($page){
            $scope.form.page = $page;
            $scope.reload();
        };
        $scope.outDate = function($id){
            $http.post("outDate/Hardware",{id:$id}).then(function ($resp) {
                if($resp.status===200) {
                    inform.add($resp.data.message, {ttl: 3000, type: $resp.data.status});
                    $scope.$$childTail.outDateModal = false;
                    $scope.reload();
                }else{
                    inform.add("خطا در برقراری ارتباط با سرور", {ttl: 3000, type: "error"});
                }
            });
        };
        $scope.returned = function($id){
            $http.post("return/Hardware",{id:$id}).then(function ($resp) {
                if($resp.status===200) {
                    inform.add($resp.data.message, {ttl: 3000, type: $resp.data.status});
                    $scope.$$childTail.returnModal = false;
                    $scope.reload();
                }else{
                    inform.add("خطا در برقراری ارتباط با سرور", {ttl: 3000, type: "error"});
                }
            });
        };
        $scope.delete = function($shomareAmval,$type){
            $http.post("delete/Hardware",{shomareAmval:$shomareAmval,type:$type}).then(function ($resp) {
                if($resp.status===200) {
                    inform.add($resp.data.message, {ttl: 3000, type: $resp.data.status});
                    $scope.$$childTail.returnModal = false;
                    $scope.reload();
                }else{
                    inform.add("خطا در برقراری ارتباط با سرور", {ttl: 3000, type: "error"});
                }
            });
        };
        $scope.reload();
    });
    app.controller("registerSystem", function ($scope, $http,inform,Scopes) {
        Scopes.store('registerSystem', $scope);
        $scope.treeOptions = {
            nodeChildren: "children",
            dirSelectable: true,
            injectClasses: {
                ul: "a1",
                li: "a2",
                liSelected: "a7",
                iExpanded: "a3",
                iCollapsed: "a4",
                iLeaf: "a5",
                label: "a6",
                labelSelected: "a8"
            }
        };

        $scope.check_shomareShenasaei = function(){
            if(String($scope.form.shomareShenasaei).length<1)
                return;
            var $form = {filter:{},page:1,row_limit:2};
            $form.filter["Case`.`shomareShenasaei"] = String($scope.form.shomareShenasaei);
            $http.post("getAll/Case",$form).then(function($resp){
                if($resp.status===200) {
                    if($resp.data.num_rows>0){
                        inform.add("سیستم با این شماره شناسایی قبلا ثبت شده است.",{ttl:3000,type:"warning"})
                    }else{
                        inform.add("این شماره شناسایی قابل ثبت است.",{ttl:3000,type:"success"})
                    }
                }else{
                    inform.add("اشکالی در اتصال به سرور پیش آمد.", {ttl: 3000, type: "error"});
                }
            })
        };
        $scope.check_shomareAmval = function(){
            if(String($scope.form.shomareAmval).length<1)
                return;
            var $form = {filter:{},page:1,row_limit:2};
            $form.filter["Case`.`shomareAmval"] = String($scope.form.shomareAmval);
            $http.post("getAll/Case",$form).then(function($resp){
                if($resp.status===200) {
                    if($resp.data.num_rows>0){
                        inform.add("سیستم با این شماره اموال قبلا ثبت شده است.",{ttl:3000,type:"warning"})
                    }else{
                        inform.add("این شماره اموال قابل ثبت است.",{ttl:3000,type:"success"})
                    }
                }else{
                    inform.add("اشکالی در اتصال به سرور پیش آمد.", {ttl: 3000, type: "error"});
                }
            })
        };

        $scope.showRegMon = function(){
            $scope.registerMonitorModal = true;
            console.log(Scopes.get("registerMonitor"));
            Scopes.get("registerMonitor").monitor = {};
            Scopes.get("registerMonitor").monitor.shomareAmval = $scope.form.Monitor_shomareAmval;
            Scopes.get("registerMonitor").selectedYeganMonitor = $scope.selectedYegan;

        };
        $scope.showRegPrinter = function(){
            $scope.registerPrinterModal = true;
            console.log(Scopes.get("registerHardware1"));
            Scopes.get("registerHardware1").hardware = {};
            Scopes.get("registerHardware1").hardware.shomareAmval = $scope.form.Printer_shomareAmval;
            Scopes.get("registerHardware1").hardware.type = "3";
            Scopes.get("registerHardware1").selectedYegan = $scope.selectedYegan;

        };
        $scope.showRegScanner = function(){
            $scope.registerScannerModal = true;
            console.log(Scopes);
            console.log(Scopes.get("registerHardware2"));

            Scopes.get("registerHardware2").hardware = {};
            Scopes.get("registerHardware2").hardware.shomareAmval = $scope.form.Scanner_shomareAmval;
            Scopes.get("registerHardware2").hardware.type = "4";
            Scopes.get("registerHardware2").selectedYegan = $scope.selectedYegan;

        };


        $scope.yegans = yegans;
        $scope.caseTypes = {{!CaseTypes}};
        $scope.monitorTypes = {{!MonitorTypes}};
        $scope.oss = {{!oss}};
        $scope.cpus = {{!cpus}};
        $scope.rams = {{!rams}};
        $scope.harddisks = {{!harddisks}};
        $scope.mainboards = {{!mainboards}};
        $scope.form = {};

        $scope.showSelected = function(selectedYegan){
            $scope.selectedYegan = selectedYegan;
        };



        $scope.submit = function (registerForm) {
            $scope.touched = true;
            if (registerForm.$valid) {
                console.log($scope.selectedYegan);
                if (!$scope.selectedYegan) {
                    inform.add("یگان مشخص نشده.", {ttl: 3000, type: "warning"});
                } else {

                    $scope.form.Yegan_id = String($scope.selectedYegan.id);
                    $http.post("register/Case", $scope.form).then(function ($resp) {
                        if($resp.status===200) {
                            if ($resp.data.id < 0) {
                                inform.add($resp.data.message, {ttl: 3000, type: "warning"});
                            } else {
                                inform.add($resp.data.message, {ttl: 3000, type: "success"});
                                $scope.touched = false;
                                $scope.form = {};
                            }
                        }else{
                            inform.add("اشکالی در اتصال به سرور پیش آمد.", {ttl: 3000, type: "error"});
                        }
                    })
                }
            } else {
                inform.add("فیلدهای مشخص شده باید تکمیل شوند", {ttl: 300000, type: "warning"});
            }

        };
    });
    hardwareScope = 1;
    app.controller("editSystem",function ($scope, $http, inform, Scopes,$controller,$location) {
        hardwareScope = 1;
        $controller('registerSystem', {$scope: $scope});
        $scope.edit = true;
        $scope.submit = function(registerForm){
            $scope.touched = true;
            if (registerForm.$valid) {
                if (!$scope.selectedYegan) {
                    inform.add("یگان مشخص نشده.", {ttl: 3000, type: "warning"});
                } else {

                    $scope.form.Yegan_id = String($scope.selectedYegan.id);
                    $http.post("/update/Case/" + $location.$$hash, $scope.form).then(function ($resp) {
                        if ($resp.status === 200) {
                            inform.add($resp.data.message, {ttl: 3000, type: $resp.data.status});
                        } else {
                            inform.add("اشکالی در اتصال به سرور پیش آمد.", {ttl: 3000, type: "error"});
                        }
                    })
                }
            }else {
                inform.add("فیلدهای مشخص شده باید تکمیل شوند", {ttl: 3000, type: "warning"});
            }
        };
        $http.post("/getAll/Case",{filter:{'Hardware`.`shomareAmval':$location.$$hash},onlyId:true,page:1,row_limit:1}).then(function ($resp) {
            if($resp.status===200) {
                $scope.form = $resp.data.rows[0];
                $scope.selectedYegan = {};
                $scope.form.shomareShenasaei = Math.round($scope.form.shomareShenasaei);
                $scope.form.shomareAmval = Math.round($scope.form.shomareAmval);
                if($scope.form)
                    $scope.selectedYegan.id = $scope.form.Yegan_id;
            }else{
                inform.add("اشکالی در اتصال به سرور پیش آمد.", {ttl: 3000, type: "error"});
            }
        })
    });
    app.controller("registerMonitor",function ($scope,$http,inform,Scopes) {
        Scopes.store('registerMonitor', $scope);
        $scope.monitor = {};

        $http.post("getAll/MonitorType").then(function ($resp) {
            $scope.monitorTypes = $resp.data;
        });

        $scope.showSelected = function(selectedYegan){
            $scope.selectedYeganMonitor = selectedYegan;
        };

        $scope.yegans = yegans;

        $scope.searchId = function(){
            $http.post("getAll/monitor", {filter:{id:$scope.monitor.id}}).then(function ($resp) {

            });
        };
        $scope.registerMonitor = function (registerForm) {
            $scope.touched = true;
            if (registerForm.$valid) {
                if (!$scope.selectedYeganMonitor) {
                    inform.add("یگان مشخص نشده.", {ttl: 3000, type: "warning"});
                } else {
                    $scope.monitor.Yegan_id = String($scope.selectedYeganMonitor.id);//TODO validation
                    $http.post("register/monitor", $scope.monitor).then(function ($resp) {
                        if ($resp.status === 200) {
                            if ($resp.data.id < 0) {
                                inform.add($resp.data.message, {ttl: 3000, type: "warning"});
                            } else {
                                inform.add($resp.data.message, {ttl: 3000, type: "success"});
                                $scope.monitor = {};
                                $scope.touched = false;
                            }
                        } else {
                            inform.add("اشکالی در اتصال به سرور پیش آمد.", {ttl: 3000, type: "error"});
                        }
                    });
                }
            } else {
                inform.add("فیلدهای مشخص شده باید تکمیل شوند", {ttl: 3000, type: "warning"});
            }
        }
    });
    app.controller('registerRepair',function ($scope,$http,inform,$location) {
        $scope.oss = {{!oss}};//[{id:4,title:"Win10"},{id:3,title:"Win8"},{id:2,title:"Win7"},{id:1,title:"XP"}];
        $scope.cpus = {{!cpus}};
        $scope.rams = {{!rams}};// [{id:4,title:"8GB"},{id:4,title:"4GB"},{id:3,title:"3GB"},{id:2,title:"2GB"},{id:1,title:"1GB"}];
        $scope.harddisks = {{!harddisks}};
        $scope.mainboards = {{!mainboards}};
        $scope.repairers = {{!repairers}};
        $scope.$watch("Case_shomareShenasaei",function ($val) {
            //delete $scope.form;
            delete  $scope.inNaja;
            if($val.length===4||$val.length===10){
                $scope.getCase()
            }
        });
        $scope.getCase = function () {
            $http.post("get/Case", {shomareShenasaei: $scope.Case_shomareShenasaei}).then(function ($resp) {
                if ($resp.status === 200) {
                    if (!$scope.form)
                        $scope.form = {};
                    $scope.form.Case_shomareAmval = $resp.data.shomareAmval;
                    $scope.form.OS_id = $resp.data.OS_id;
                    $scope.form.CPU_id = $resp.data.CPU_id;
                    $scope.form.RAM_id = $resp.data.RAM_id;
                    $scope.form.Harddisk_id = $resp.data.Harddisk_id;
                    $scope.form.ip = $resp.data.ip;
                    $scope.inNaja = $resp.data.inNaja;
                    if ($resp.data.id < 0) {
                        inform.add($resp.data.message, {ttl: 3000, type: "warning"});
                    } else {
                        inform.add("استعلام انجام شد.", {ttl: 3000, type: "success"});
                        $scope.monitor = {};
                        $scope.touched = false;
                    }
                }
            });
        };



        $scope.getRepair = function ($id) {
            if($location.$$hash){
                $http.post("get/Repair",{"id":$id}).then(function($resp){
                    if($resp.status===200){
                        $scope.initForm = {};
                        $scope.initForm.deliverer = $resp.data.deliverer;
                        $scope.Case_shomareShenasaei = $resp.data.Case_shomareAmval;
                        $scope.form = $resp.data;
                        console.log($scope.form);
                        $scope.init = "0";
                    }
                })
            }
        };


        if($location.$$hash){

            $scope.getRepair($location.$$hash);
        }
        $scope.submit = function (registerForm) {
            $scope.touched = true;
            if($scope.form && $scope.form.Case_shomareAmval){
                if (registerForm.$valid) {
                    if ($scope.form) {

                        if($scope.form.id){
                            $http.post("/update/Repair", $scope.form).then(function ($resp) {
                                    inform.add($resp.data.message, {ttl: 3000, type: $resp.data.status})
                            })
                        }else{
                            if($scope.init === "0") {
                                $http.post("/register/Repair", $scope.form).then(function ($resp) {
                                    inform.add($resp.data.message, {ttl: 3000, type: $resp.data.status})
                                })
                            }else{
                                if($scope.initForm === undefined){
                                    $scope.initForm = {};
                                }
                                $scope.initForm.Case_shomareAmval = $scope.form.Case_shomareAmval;
                                $http.post("/register/RepairInit", $scope.initForm).then(function ($resp) {
                                    inform.add($resp.data.message, {ttl: 3000, type: $resp.data.status})
                                })
                            }
                        }
                    } else {
                        inform.add("ابتدا استعلام سیستم را بگیرید.", {ttl: 3000, type: "warning"});
                    }
                }else{
                    inform.add("فیلدهای مشخص شده باید تکمیل شوند", {ttl: 3000, type: "warning"});
                }
            }else{
                inform.add("ابتدا باید استعلام سیستم را بگیرید.", {ttl: 3000, type: "warning"});
            }


        }
    });
    app.controller('TabController', function () {
        this.tab = 1;

        this.setTab = function (tabId) {
            this.tab = tabId;
        };

        this.isSet = function (tabId) {
            return this.tab === tabId;
        };
    });
    app.directive('route', function($location,$compile) {
        return {
            scope:{
                route:"@"
            },
            link: function($scope, $element, attrs, controllers,$transclude) {
                $element.find("a").attr("href" ,"/#!"+attrs.route);
                $scope.isRouteActive = function() {
                    return $location.path() === $scope.route;
                };
                $element.attr("ng-class","{active:isRouteActive()}");
                //$compile($element)($scope);
            }
        }
    });
    app.controller("reportRepair",function ($scope,$http,inform) {
        $scope.yegans = yegans;
        $scope.form = {};
        $scope.form.row_limit = "10";
        $scope.form.page = 1;
        $scope.repairers = {{!repairers}};
        $scope.reload = function () {

            if(!$scope.filter)
                $scope.filter = {};
            if($scope.selectedYegan && $scope.selectedYegan.id)
                $scope.filter.Yegan_id = $scope.selectedYegan.id;
            if($scope.filter.OS !== undefined && $scope.filter.OS === ""){
                delete $scope.filter.OS;
            }
            if($scope.filter.Mainboard !== undefined && $scope.filter.Mainboard === ""){
                delete $scope.filter.Mainboard;
            }
            if($scope.filter.Harddisk !== undefined && $scope.filter.Harddisk === ""){
                delete $scope.filter.Harddisk;
            }
            if($scope.filter.CPU !== undefined && $scope.filter.CPU === ""){
                delete $scope.filter.CPU;
            }
            if($scope.filter.RAM !== undefined && $scope.filter.RAM === ""){
                delete $scope.filter.RAM;
            }
            if($scope.filter.antivirus !== undefined && $scope.filter.antivirus === ""){
                delete $scope.filter.antivirus;
            }
            if($scope.filter.power !== undefined && $scope.filter.power === ""){
                delete $scope.filter.power;
            }
            if($scope.filter.shomareAmval !== undefined && $scope.filter.shomareAmval === ""){
                delete $scope.filter.shomareAmval;
            }
            if($scope.filter.shomareShenasaei !== undefined && $scope.filter.shomareShenasaei === ""){
                delete $scope.filter.shomareShenasaei;
            }


            else
                if(undefined === $scope.filter.Yegan_id)
                    delete $scope.filter.Yegan_id;
            $scope.form.filter = $scope.filter;
            $http.post("/getAll/Repair",$scope.form).then(function ($resp) {
                if($resp.status === 200){
                    //$scope.repairs = $resp.data;


                    $scope.repairs = $resp.data.rows;
                    $scope.num_rows = $resp.data.num_rows;
                    $scope.num = $resp.data.rows.length;
                    $scope.pageNum = Math.ceil($scope.num_rows / $scope.form.row_limit);
                }else{
                    inform.add("اشکالی در اتصال به سرور پیش آمد.", {ttl: 3000, type: "error"});
                }

            })
        };
        $scope.page = function($page){
            $scope.form.page = $page;
            $scope.reload();
        };
        $scope.reload();
    });

    app.controller("registerHardware",function ($scope,$http,inform,Scopes,$location) {

        Scopes.store('registerHardware'+hardwareScope, $scope);
        hardwareScope++;
        $scope.yegans = yegans;

        $scope.reload = function(){
            if($scope.hardware) {
                $http.post("getAllSorted/Model", {'type': $scope.hardware.type}).then(function ($resp) {
                    if ($resp.status === 200) {
                        $scope.models = $resp.data;
                    } else {
                        inform.add("اشکالی در اتصال به سرور پیش آمد.", {ttl: 3000, type: "error"});
                    }
                });
            }
        };
        $scope.$watch("type",function () {
            $scope.reload();
        });
        $scope.reload();

        $scope.registerHardware = function (registerForm) {
            if (registerForm.$valid) {
                if (!$scope.selectedYegan) {
                    inform.add("یگان مشخص نشده.", {ttl: 3000, type: "warning"});
                } else {
                    $scope.hardware.Yegan_id = String($scope.selectedYegan.id);//TODO validation
                    $http.post("register/Hardware", $scope.hardware).then(function ($resp) {
                        if ($resp.status === 200) {
                            inform.add($resp.data.message, {ttl: 3000, type: $resp.data.status})
                        } else {
                            inform.add("اشکالی در اتصال به سرور پیش آمد.", {ttl: 3000, type: "error"});
                        }
                    })
                }
            }else{
                inform.add("فیلدهای مشخص شده باید تکمیل شوند", {ttl: 3000, type: "warning"});
            }
        };



    });

    app.controller("userManagement",function($scope,$http,inform,Scopes,$location){
        $scope.yegans = yegans;
        $scope.reload = function() {
            $http.get("/User/getAll").then(function ($resp) {
                if ($resp.status === 200) {
                    $scope.users = $resp.data;
                } else {
                    inform.add("اشکالی در اتصال به سرور پیش آمد.", {ttl: 3000, type: "error"});
                }
            });
        };
        $scope.delete = function($username){
            $http.post("/User/delete",{"username":$username}).then(function ($resp) {
                if ($resp.status === 200) {
                    $scope.reload();
                    inform.add($resp.data.message, {ttl: 3000, type: $resp.data.status});
                } else {
                    inform.add("اشکالی در اتصال به سرور پیش آمد.", {ttl: 3000, type: "error"});
                }
            })
        };
        $scope.register = function () {
            if($scope.selectedYegan)
                $scope.form.Yegan_id = $scope.selectedYegan.id;
            $http.post("/User/register",$scope.form).then(function ($resp) {
                if($resp.status===200){
                    inform.add($resp.data.message, {ttl: 3000, type: "success"});
                    $scope.reload();
                }else{
                    inform.add("اشکالی در اتصال به سرور پیش آمد.", {ttl: 3000, type: "error"});
                }
            })
        };
        $scope.changePass = function($username,$password){
            console.log($scope);
            $http.post("/User/updatePass",{username:$username,password:$password}).then(function ($resp) {
                if($resp.status===200){
                    inform.add($resp.data.message, {ttl: 3000, type: "success"});
                    $scope.reload();
                }else{
                    inform.add("اشکالی در اتصال به سرور پیش آمد.", {ttl: 3000, type: "error"});
                }
            })
        };
        $scope.reload();
    });

    app.controller("account",function($scope,$http,$inform){
        $scope.update_password = function () {
            if($scope.password === $scope.re_password){
                $http.post("/User/update_my_password",{password:$scope.password}).then(function ($resp) {
                    if($resp.status===200){

                    }else{
                        inform.add("اشکالی در اتصال به سرور پیش آمد.", {ttl: 3000, type: "error"});
                    }

                })
            }else{
                $inform.add("کلمه عبور با تکرار آن یکی نیست.", {ttl: 3000, type: "warning"})
            }
        }
    });

    app.factory('Scopes', function ($rootScope) {
        var mem = {};

        return {
            store: function (key, value) {
                mem[key] = value;
            },
            get: function (key) {
                return mem[key];
            }
        };
    });
    app.config(function($routeProvider) {
        $routeProvider
            .when("/",{
                templateUrl: "page/index.html"
            })

            %if current_user.role=="admin" or current_user.role=="editor":
            .when("/hardwares", {
                templateUrl : "page/hardwares.html",
                controller: "hardwares"
            })
            .when("/yegans", {
                templateUrl : "page/yegans.html",
                controller:"yegans"
            })
            .when("/reportRepair",{
                templateUrl: "page/reportRepair.html",
                controller: "reportRepair"
            })
            .when("/registerRepair", {
                templateUrl : "page/registerRepair.html",
                controller: "registerRepair"
            })
            %end

            .when("/registerSystem", {
                templateUrl : "page/registerSystem.html",
                controller: "registerSystem"
            })
            .when("/editSystem", {
                templateUrl : "page/registerSystem.html",
                controller: "editSystem"
            })
            .when("/reportSystem", {
                templateUrl : "page/reportSystem.html",
                controller: "reportSystem"
            })
            .when("/reportHardware", {
                templateUrl : "page/reportHardware.html",
                controller: "reportHardware"
            })

            .when("/registerMonitor", {
                templateUrl : "page/registerMonitor.html"
            })

            .when("/registerHardware",{
                templateUrl: "page/registerHardware.html"
            })
            .when("/userManagement",{
                templateUrl: "page/userManagement.html",
                controller: "userManagement"
            }).when("/account",{
                templateUrl: "page/account.html",
                controller: "account"
            });
    });
    app.directive('focusMe', function ($timeout, $parse) {
    return {
        link: function (scope, element, attrs) {
            var model = $parse(attrs.focusMe);
            scope.$watch(model, function (value) {
                if (value === true) {
                    $timeout(function () {
                        scope.$apply(model.assign(scope, false));
                        element[0].focus();
                    }, 30);
                }
            });
        }
    };
});
    app.directive('ngEnter', function() {
    return function(scope, element, attrs) {
        element.bind("keydown keypress", function(event) {
            if(event.which === 13) {
                scope.$apply(function(){
                    scope.$eval(attrs.ngEnter);
                });
                event.preventDefault();
            }
        });
    };
});
    app.directive('ngEsc', function() {
    return function(scope, element, attrs) {
        element.bind("keydown keypress", function(event) {
            if(event.which === 27) {
                scope.$apply(function(){
                    scope.$eval(attrs.ngEsc);
                });
                event.preventDefault();
            }
        });
    };
});
    app.directive('ngAnyKey', function() {
    return function(scope, element, attrs) {
        element.bind("keydown keypress", function(event) {
            console.log(event.which);
            if(event.which !== 9) {
                scope.$apply(function(){
                    scope.$eval(attrs.ngAnyKey);
                });
                event.preventDefault();
            }
        });
    };

});
    app.directive('hardware',function ($http) {
        return{
            restrict:"A",
            scope:{
                type:"@"
            },
            link:function ($scope,$elem) {
                $scope.reload = function () {
                    $http.post("getAll/"+$scope.type).then(function ($resp) {
                        $resp.status == 200
                    })
                };
                $scope.reload();
            }
        }
    })
</script>
<style>
    .form-group {
        margin-bottom: 25px;
    }
    .form-group  .validation-err,.input-group  .validation-err{
        position: absolute;
        font-size: 12px;
        padding-right: 10px;
        color: #dd4b39;
        display: none;
    }
    .form-group.has-error  .validation-err,.input-group.has-error  .validation-err{
        display: block;
    }
    *:not("input"){
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }


    .form-group input{
    }
    .inform-message-content > span.badge {
        margin-right: -15px;
        margin-top: 2px;
    }

    .inform-message-content > span:last-child {
        position: absolute;
        right: 50px;
    }







    div[data-angular-treeview] {
        /* prevent user selection */
        -moz-user-select: -moz-none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;

        /* default */
        font-family: Tahoma,serif;
        font-size:13px;
        color: #555;
        text-decoration: none;
    }

    div[data-tree-model] ul {
        margin: 0;
        padding: 0;
        list-style: none;
        border: none;
        overflow: hidden;
    }

    div[data-tree-model] li {
        position: relative;
        padding: 0 0 0 20px;
        line-height: 20px;
    }

    div[data-tree-model] li .expanded {
        padding: 1px 10px;
        background: url("http://cfile23.uf.tistory.com/image/205B973A50C13F4B19D9BD") no-repeat;
    }

    div[data-tree-model] li .collapsed {
        padding: 1px 10px;
        background: url("http://cfile23.uf.tistory.com/image/1459193A50C13F4B1B05FB") no-repeat;
    }

    div[data-tree-model] li .normal {
        padding: 1px 10px;
        background: url("http://cfile23.uf.tistory.com/image/165B663A50C13F4B196CCA") no-repeat;
    }

    div[data-tree-model] li i, div[data-tree-model] li span {
        cursor: pointer;
    }

    div[data-tree-model] li .selected {
        background-color: #aaddff;
        font-weight: bold;
        padding: 1px 5px;
    }

</style>
</body>
</html>