<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>سامانه مدیریت سخت افزارهای فاوا</title>
    <script type="text/javascript" src="files/angular.min.js"></script>
    <script type="text/javascript" src="files/angular-route.min.js"></script>
    <link rel="stylesheet" href="files/bootstrap.min.css">
    <link rel="stylesheet" href="files/style.css">
    <script src="files/angular-inform.min.js"></script>
</head>
<body ng-app>

<div class="page-wrapper">
    <div class="page-content--bge5">
        <div class="container">
            <div class="login-wrap">
                <div class="login-content">
                    <div class="login-logo">
                        <a href="#" style="direction: rtl;vertical-align: middle">
                            <span class="icon-cog" style="font-size: 60px;display: inline-block;"
                                  alt="سامانه ثبت سیستم‌ها"></span><span
                                style="display: inline-block;margin:20px;vertical-align: top;">سامانه ثبت سیستم‌ها</span>
                        </a>
                    </div>
                    <div class="login-form" >
                        <form method="post" action="login" ng-show="!registerForm">
                            <div class="form-group">
                                <label>نام کاربری</label>
                                <input class="au-input au-input--full" type="text" name="username"
                                       placeholder="نام کاربری">
                            </div>
                            <div class="form-group">
                                <label>کلمه عبور</label>
                                <input class="au-input au-input--full" type="password" name="password"
                                       placeholder="کلمه عبور">
                            </div>
                            <div class="login-checkbox" style="float: right">
                                <label>
                                    <a href="#">کلمه عبور را فراموش کردید؟</a>
                                </label>
                            </div>
                            <button class="au-btn au-btn--block au-btn--green m-b-20" type="submit">ورود</button>
                        <div class="register-link" style="direction: rtl">
                            <p>
                                حساب کاربری ندارید؟
                                <a href="#" style="" ng-click="registerForm=true">اینجا ثبت نام کنید</a>
                            </p>
                        </div>
                        </form>
                        <form method="post" action="register"  ng-show="registerForm">
                            <div class="form-group">
                                <label>نام کاربری</label>
                                <input class="au-input au-input--full" type="text" name="username"
                                       placeholder="نام کاربری">
                            </div>
                            <div class="form-group">
                                <label>نام و نام خانوادگی</label>
                                <input class="au-input au-input--full" type="text" name="description" placeholder="نام و نام خانوادگی">
                            </div>
                            <div class="form-group">
                                <label>کلمه عبور</label>
                                <input class="au-input au-input--full" type="password" name="password"
                                       placeholder="کلمه عبور">
                            </div>

                            <button class="au-btn au-btn--block au-btn--green m-b-20" type="submit">ثبت نام</button>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>