treecontrol {
    /* prevent user selection */
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    /* default */
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size:13px;
    color: #555;
    text-decoration: none;
}

treecontrol ul {
    padding: 0;
    list-style: none;
    border: none;
    overflow: hidden;
    margin: 0 10px 0 0;
}

treecontrol li {
    position: relative;
    padding: 0 0 0 20px;
    line-height: 20px;
}

treecontrol li.tree-expanded i.tree-leaf-head, treecontrol li.tree-collapsed i.tree-leaf-head {display:none;}
treecontrol li.tree-expanded i.tree-branch-head, treecontrol li.tree-collapsed i.tree-branch-head {display:inline;}
treecontrol li.tree-leaf i.tree-branch-head {display:none;}
treecontrol li.tree-leaf i.tree-leaf-head {display:inline;}

treecontrol li i.tree-branch-head {
    cursor: pointer;
    float: right;
}

treecontrol li .tree-label {
    cursor: pointer;
    display: inline;
}

treecontrol li .tree-unselectable {
    cursor: not-allowed;
}

treecontrol.tree-classic li.tree-expanded i.tree-branch-head {
    padding: 1px 4px;
    margin-top: 3px;
}
treecontrol.tree-classic li.tree-expanded i.tree-branch-head:before {
    font-family: 'icomoon', serif !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    content: "\f0d7";
}

treecontrol.tree-classic li.tree-collapsed i.tree-branch-head {
    padding: 1px 4px;
}
treecontrol.tree-classic li.tree-collapsed i.tree-branch-head:before {
    font-family: 'icomoon', serif !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f0d7";
}
treecontrol.tree-classic li.tree-collapsed i.tree-branch-head{
    transform: rotate(90deg);
    margin-top: 3px;
}



treecontrol.tree-classic li.tree-leaf i.tree-leaf-head {
    float: right;
}

treecontrol.tree-classic li.tree-leaf i.tree-leaf-head:before {
    padding: 1px 4px;
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "⚬";
}
treecontrol.tree-classic li.tree-leaf i.tree-leaf-head{
    transform: rotate(90deg);
    margin-top: 3px;
}


treecontrol.tree-classic li .tree-selected {
    /*font-weight: bold;*/
    background-color: #aaceff;
    border-radius: 3px;
}
treecontrol.tree-classic li .tree-selected div {
    display: inline-block;
}
treecontrol.tree-classic li  div{
    display: inline-block;
    padding: 0 3px;
}
treecontrol.tree-classic li{
    padding:2.5px;
}
treecontrol.tree-classic li .tree-unselectable {
    color: #ddd;
}


treecontrol.tree-light li.tree-leaf i.tree-leaf-head {
    padding: 1px 4px;
    width: 16px; height: 16px;
    background: none no-repeat;
}

treecontrol.tree-light li .tree-selected {
    font-weight: bold;
}

treecontrol.tree-light li .tree-unselectable {
    color: #ddd;
}


treecontrol.tree-dark li.tree-leaf i.tree-leaf-head {
    padding: 1px 4px;
    width: 16px; height: 16px;
    background: none no-repeat;
}

treecontrol.tree-dark li .tree-selected {
    font-weight: bold;
}

treecontrol.tree-dark li .tree-unselectable {
    color: #777;
}

treecontrol.tree-dark {
    color: #ddd;
}

treecontrol.tree-boot {
    color: #428bca;
    font-family: inherit;
    font-size: inherit;
}

treecontrol.tree-boot > ul > li {
    padding: 0;
}

treecontrol.tree-boot li > .tree-label {
    display: block;
    padding: 3px 0;
    border-radius: 4px;
}

treecontrol.tree-boot i.tree-branch-head,
treecontrol.tree-boot i.tree-leaf-head {
    float: left;
    height: 16px;
    margin: 5px;
}

treecontrol.tree-boot .tree-label.tree-selected,
treecontrol.tree-boot .tree-label.tree-selected:hover {
    color: #fff;
    background-color: #428bca;
}

treecontrol.tree-boot .tree-label:hover {
    background-color: #eee;
}
